.archive .entry-summary img {
    width: 100%;
    height: auto;
}

/* Two-column layout for blog archives and categories */
.archive.author #content,
.archive.category #content,
.archive.tag #content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sp-home-gap);
}

.archive.author #content>header,
.archive.author #content>nav,
.archive.category #content>header,
.archive.category #content>nav,
.archive.tag #content>header,
.archive.tag #content>nav {
    flex: 1 1 100%;
}

.archive.author #content>article,
.archive.category #content>article,
.archive.tag #content>article {
    flex: 1 1 calc(50% - var(--sp-home-gap));
    max-width: 900px;
}

/* viewport-specific rules moved to parts/viewport.css */

.single-post {
    article.type-post {



        .blog-header-block {

            background-color: var(--cl-straw);
            padding-bottom: var(--sp-xxlarge);
            background-image: url(../../images/edpsy-swirls-29.svg);
            background-size: 250px;
            background-position: right -1px;
            background-repeat: no-repeat;




            header {
                flex-wrap: wrap;
                /*  background-image: url(../../images/edpsy-swirls-14.svg); */
                background-size: 260px;
                background-position: right top;
                background-repeat: no-repeat;

                >* {
                    width: 100%;
                }

                h1 {
                    margin-bottom: var(--sp-xxlarge);
                    font-size: var(--fs-title-xlarge);
                    line-height: var(--lh-title-xlarge);
                }
            }




            .entry-meta {





                display: flex;
                justify-content: center;
                padding-left: var(--sp-medium);
                flex-direction: column;
                gap: var(--sp-large);

                margin-left: -106px;
                margin-right: -24px;


                .entry-date-readtime {
                    color: var(--cl-orange);
                    display: block;
                    font-weight: var(--fw-medium);

                }


                .tags--header {
                    display: flex;
                    flex-wrap: wrap;


                    .post-tag {

                        font-weight: var(--fw-medium);

                        &:link,
                        &:visited,
                        &:hover,
                        &:active {
                            color: var(--cl-dark)
                        }

                        &.post-tag--more {

                            font-weight: var(--fw-light);

                            &:link,
                            &:visited,
                            &:hover,
                            &:active {
                                color: var(--cl-dark-75)
                            }
                        }
                    }

                    .post-tag-wrapper {
                        margin-right: var(--sp-xsmall);
                    }

                }
            }

            .entry-image {
                aspect-ratio: 2 / 1;

                img.wp-post-image {
                    margin-bottom: 0;
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: var(--rd-large);
                }
            }


        }

        .entry-content {
            margin-top: var(--sp-xlarge);


            /*  .blog-swirls-tr {
                background-image: url(../../images/edpsy-swirls-27.svg);
                background-position: top left;
                background-size: 260px;
                background-repeat: no-repeat;
                width: 260px;
                height: 260px;
                grid-column: 1 / span 2;
                margin-top: calc(-130px - var(--sp-xxlarge));
                margin-left: -170px;
                z-index: -1;
            } */

            .blog-swirls-tr {
                background-image: url(../../images/edpsy-swirls-27.svg);
                background-position: top left;
                background-size: 300px;
                background-repeat: no-repeat;
                width: 300px;
                height: 300px;
                grid-column: 1 / span 1;
                margin-top: calc(-150px - var(--sp-xlarge));
                margin-left: -300px;
                z-index: 0;
            }

            .entry-author--top {
                margin-top: -125px;

                /* 3 -107px */

                img.avatar {
                    margin-bottom: 0;
                    width: 150px;
                    height: 150px;
                }

                .author-name {
                    font-size: var(--fs-body);
                    line-height: var(--lh-body);

                    text-align: center;

                    a:link,
                    a:visited {

                        text-decoration: none;
                    }
                }
            }
        }

        hr {
            color: var(--cl-dark-hover);
        }

        .entry-footer {

            border-top: 2px solid var(--cl-medpurple-hover);
            margin-top: var(--sp-large);
            padding-top: var(--sp-large);



            .tag-links {
                margin-bottom: var(--sp-large);
                display: flex;
                flex-wrap: nowrap;
                gap: var(--sp-small);
                margin-left: -49px;

                .tag-title {
                    display: flex;
                    align-items: center;
                    font-weight: var(--fw-semibold);
                }


                .tag-items {
                    display: flex;
                    flex-wrap: wrap;
                }

                i {
                    margin-top: 8px;
                    margin-right: var(--sp-xsmall);
                    color: var(--cl-blog-primary);
                    font-size: var(--fs-title-small);
                }

                a {
                    margin: var(--sp-xsmall);
                    padding: 0 var(--sp-xsmall);
                    background-color: var(--cl-lightpurple-hover);
                    border-radius: 4px;
                }

                a:link,
                a:visited {
                    color: var(--cl-dark);
                    text-decoration: none;
                }

                a:hover,
                a:active {
                    outline: 2px solid var(--cl-medpurple);
                    box-shadow: none;
                }

            }

            .page-divider {
                border-top: 2px solid var(--cl-medpurple-hover);
                padding-top: var(--sp-large);

            }



        }
    }


}



.single-post article.type-post .entry-footer,
.archive.author {
    .author-info {


        .author-avatar {
            width: 125px;
            height: 125px;
            padding-right: var(--sp-small);


            img {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                object-fit: cover;
                object-position: top center;


            }
        }

        /*  p.author-bio {
         margin-bottom: 0;
        } */
    }
}

.single-post article.type-post .entry-footer .author-info {

    margin-top: var(--sp-large);
    margin-bottom: var(--sp-xlarge);

}


#container article.type-post .authors-section,
.archive.author,
.author-info {

    .author-avatar {
        height: auto;
        margin: 0 auto;
        overflow: hidden;


        img.wp-post-image,
        img {

            border-radius: 50%;
            object-fit: cover;
            object-position: top center;
            /* border: 5px solid var(--cl-lightblue); */
            outline: none !important;
        }
    }
}

.archive.author {
    .archive-meta {
        background-color: var(--cl-lightpurple-hover);
        padding: var(--sp-medium) 0;
        margin: var(--sp-large) 0 var(--sp-xlarge) 0;
        border-radius: var(--rd-large);
        max-width: 900px;

        .author-description {
            display: flex;
            flex-direction: column;
            justify-content: center;

            p.author-bio {
                margin-bottom: 0;
            }
        }
    }

    .promo-2 {
        display: none;
    }
}


/*.author-description--boxed*/
#container article.type-post .authors-section,

.author-description--boxed #container article.type-post .authors-section {
    display: flex;
    flex-direction: column;
    align-items: center;



    &.author-count-1 {
        .author-avatar {
            max-width: 150px;
            width: 150px;


            img.wp-post-image,
            img {
                width: 150px;
                height: 150px;

            }
        }
    }

    &.author-count-2 {
        margin-top: 20px;

        .author-avatars {
            position: relative;

            .author-avatar {
                max-width: 110px;
                max-height: 110px;
                width: 110px;


                img,
                img.wp-post-image {
                    width: 110px;
                    height: 110px;

                }
            }

            .author-1 {
                position: relative;
                z-index: 2;

            }

            .author-2 {
                position: relative;
                z-index: 1;
                margin-left: -30px;
            }
        }
    }

    &.author-count-3 {
        margin-top: 20px;

        .author-avatars {
            position: relative;

            .author-avatar {
                max-width: 110px;
                width: 110px;
                max-height: 110px;

                img,
                img.wp-post-image {
                    width: 110px;
                    height: 110px;

                }
            }

            .author-1 {
                position: relative;
                z-index: 3;

            }

            .author-2 {
                position: relative;
                z-index: 2;
                margin-left: -25px;
            }

            .author-3 {
                position: relative;
                z-index: 1;
                margin-left: -25px;
            }
        }
    }

    &.author-count-4 {
        margin-top: 20px;

        .author-avatars {
            position: relative;
            flex-wrap: wrap;
            max-width: 240px;
            margin: 0 auto;
            margin-bottom: var(--sp-small);

            .author-avatar {
                max-width: 110px;
                max-height: 110px;
                width: 110px;


                img,
                img.wp-post-image {
                    width: 110px;
                    height: 110px;
                }
            }

            .author-1 {
                position: relative;
                z-index: 4;
            }

            .author-2 {
                position: relative;
                z-index: 3;
                margin-left: -25px;
            }

            .author-3 {
                position: relative;
                z-index: 2;
                margin-top: -15px;
            }

            .author-4 {
                position: relative;
                z-index: 1;
                margin-left: -25px;
                margin-top: -15px;
            }
        }
    }


    .author-deco {
        width: 80px;
        height: 50px;
        margin-top: var(--sp-medium);
        background-image: url(../../images/edpsy-swirls-element-2.svg);
        background-position: top left;
        background-size: 80px;
        background-repeat: no-repeat;
        display: none;

    }
}





/* Seperate to not interfere with the avatars in the bio */
.author-avatars {
    display: flex;
    align-items: center;
    margin-bottom: var(--sp-small);
}



/* Blog listing */
.archive.category-blog,
.archive.author,
.archive.tag,
.archive.category {

    article.type-post {

        a:hover,
        a:active {

            h2 {
                color: var(--cl-purple-hover);
            }

            img {
                filter: brightness(75%)
            }

        }

        a:link,
        a:visited {
            color: var(--cl-dark);

        }

        h2.entry-title {
            margin-bottom: var(--sp-small);



        }
    }

}

.entry-footer .crp_related {

    .type-post {

        a:hover,
        a:active {

            h2 {
                color: var(--cl-purple-hover);
            }

            img {
                filter: brightness(75%)
            }

        }

        a:link,
        a:visited {
            color: var(--cl-dark);

        }

        h2.entry-title {
            margin-bottom: var(--sp-small);



        }
    }

    .article-item.job-summary {

        a:hover,
        a:active {

            h2 {
                color: var(--cl-purple-hover);
            }



        }

        a:link,
        a:visited {
            color: var(--cl-dark);

        }

        h2.entry-title {
            margin-bottom: var(--sp-small);



        }
    }

}