.archive .entry-summary img {
    width: 100%;
    height: auto;
}

.single-post {
    article.type-post {
        header {
            flex-wrap: wrap;

            >* {
                width: 100%;
            }

            h1 {
                margin-bottom: var(--sp-large);
            }

            .entry-meta {

                padding-right: var(--sp-large);

                .author-name {
                    font-size: var(--fs-title-medium);
                    line-height: var(--lh-title-medium);
                    color: var(--cl-blog-primary);

                    a:link,
                    a:visited {
                        color: var(--cl-blog-primary);
                        text-decoration: none;
                    }
                }

                time {
                    color: var(--cl-blog-primary);
                    margin-bottom: var(--sp-large);
                    display: block;
                }

                .tag-links {

                    margin-bottom: var(--sp-large);
                    display: flex;

                    i {
                        margin-top: 8px;
                        margin-right: var(--sp-xsmall);
                        color: var(--cl-blog-primary);
                    }

                    a:link,
                    a:visited {
                        color: var(--cl-dark);
                        text-decoration: none;
                    }

                }
            }

            img {
                padding-right: var(--sp-large);
            }

        }

        .entry-content {
            margin-top: var(--sp-xxlarge);
        }
    }
}