input:is([type="button"], [type="submit"], [type="reset"]):disabled,
input[type="file"]:disabled::file-selector-button,
button:disabled,
select:disabled,
optgroup:disabled,
option:disabled,
select[disabled]>option {
    color: var(--cl-dark);
    opacity: var(--op-light);
}

a.button.edp-button-solid,
button.edp-button-solid,
input[type="submit"],
input[type="button"],
input[type="file"]::file-selector-button {
    font-size: var(--fs-body);
    color: var(--cl-light);
    background-color: var(--cl-dark);
    border: 1px solid var(--cl-dark);
    padding: var(--sp-xsmall) var(--sp-small);
    margin: var(--sp-xsmall) 0;
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
    cursor: pointer;
    text-transform: lowercase;
    font-family: var(--ff);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
        box-shadow: none;
    }
}



a.button.edp-button-outline,
button.edp-button-outline,
input[type="submit"].button.secondary,
.tribe-events-community-footer input[type="submit"] {
    font-size: var(--fs-body);
    color: var(--cl-dark);
    background-color: none;
    background: none;
    border: 1px solid var(--cl-dark);
    padding: var(--sp-xsmall) var(--sp-small);
    margin: var(--sp-xsmall) 0;
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
    cursor: pointer;
    text-transform: lowercase;
    font-family: var(--ff);

    &:hover,
    &:focus {
        background-color: var(--cl-dark);
        color: var(--cl-light);
        box-shadow: none;
    }

}

.tribe-events-pg-template .tribe-events-community-footer input[type="submit"] {
    color: var(--cl-light);
    border-color: var(--cl-light);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
        box-shadow: none;
    }
}

/* == Body ghost button ===== */
/* Events date picker */

button.tribe-events-c-top-bar__datepicker-button {
    font-size: var(--fs-body);
    color: var(--cl-light);
    /* background-color: var(--cl-dark-75);*/


    padding: var(--sp-xsmall) var(--sp-small);

    &:hover,
    &:focus {
        opacity: var(--op-strong);
    }

}

/* == Outline button ===== */
/* Events today button */

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__today-button,
.wpbdp-main-box .submit-btn {
    /* background-color: var(--cl-dark); */
    color: var(--cl-light);
    text-transform: lowercase;
    font-size: var(--fs-body-small);
    font-weight: var(--fw-normal);
    line-height: var(--lh-body-small);
    border: 1px solid var(--cl-light);
    padding: var(--sp-xxsmall) var(--sp-xsmall);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
    }

}


/* == Icon button ===== */
/* Events arrow buttons */

a.tribe-common-c-btn-icon,
.tribe-events-c-nav__prev,
.tribe-events-c-nav__next,
.tribe-events-c-nav__today {
    &:is(:link, :visited) {
        color: var(--cl-light);
    }

    &:is(:hover, :active, :focus) {
        opacity: var(--op-strong);
    }
}

.tribe-events a.tribe-events-c-view-selector__list-item-link {

    &:is(:link, :visited) {
        color: var(--cl-dark);
    }

    &:is(:hover, :active) {
        color: var(--cl-purple);
        background: var(--cl-lightpurple-hover);
    }

}