input:is([type="button"], [type="submit"], [type="reset"]):disabled,
input[type="file"]:disabled::file-selector-button,
button:disabled,
select:disabled,
optgroup:disabled,
option:disabled,
select[disabled]>option {
    color: var(--cl-dark);
    opacity: var(--op-light);
}

a.button.edp-button-solid,
button.edp-button-solid,
.wp-block-button.is-style-fill a,
.wp-block-button a.has-background,
.tribe-button.tribe-button-primary,
input[type="submit"],
input[type="button"],
input[type="file"]::file-selector-button {
    font-size: var(--fs-body);
    color: var(--cl-light);
    background-color: var(--cl-dark);
    border: 1px solid var(--cl-dark);
    padding: var(--sp-xsmall) var(--sp-small);
    margin: var(--sp-xsmall) 0;
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
    cursor: pointer;
    text-transform: lowercase;
    font-family: var(--ff);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
        box-shadow: none;

    }
}



.wp-block-button a.has-background {
    border: 1px solid var(--cl-light);

    &:hover,
    &:focus {
        background-color: var(--cl-light) !important;
        color: var(--cl-dark) !important;
        box-shadow: none;
        border: 1px solid var(--cl-dark) !important;
    }
}


button.edp-button-pill,
a.button.edp-button-pill {
    width: fit-content;
    font-size: var(--fs-body);
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 9999px;
    border: none;
    padding: var(--sp-xxsmall) var(--sp-small-plus);
    margin: var(--sp-xsmall) 0;
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
    cursor: pointer;
    text-transform: lowercase;
    font-family: var(--ff);
    background-color: var(--cl-orange);
    color: var(--cl-light);


    &:hover,
    &:focus {
        background-color: var(--cl-dark);
        color: var(--cl-light);
        box-shadow: none;
    }
}

button.edp-button-pill.with-icon,
a.button.edp-button-pill.with-icon {
    padding-right: var(--sp-small);
    gap: var(--sp-small);
}

a.button.edp-button--centred {
    margin-right: auto;
    margin-left: auto;
}


a.button.edp-button-outline,
button.edp-button-outline,
.wp-block-button a,
input[type="submit"].button.secondary,
.tribe-button.tribe-button-secondary,
.tribe-events-community-footer input[type="submit"] {
    font-size: var(--fs-body);
    color: var(--cl-dark);
    background-color: none;
    background: none;
    border: 1px solid var(--cl-dark);
    padding: var(--sp-xsmall) var(--sp-small);
    margin: var(--sp-xsmall) 0;
    font-weight: var(--fw-medium);
    line-height: var(--lh-body);
    cursor: pointer;
    text-transform: lowercase;
    font-family: var(--ff);

    &:hover,
    &:focus {
        background-color: var(--cl-dark);
        color: var(--cl-light);
        box-shadow: none;
    }

}

/* Outline on coloured background */

.add-job input[type="submit"].button.secondary {
    background-color: var(--cl-light);
    border-color: var(--cl-light);

    &:hover,
    &:focus {


        background-color: var(--cl-dark);
    }
}

a.button.edp-button-outline.edp-button-outline--reversed,
button.edp-button-outline.edp-button-outline--reversed {

    color: var(--cl-light);
    background-color: none;
    border: 1px solid var(--cl-light);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
    }

}

.tribe-events-pg-template .tribe-events-community-footer input[type="submit"] {
    color: var(--cl-light);
    border-color: var(--cl-light);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
        box-shadow: none;
    }
}

/* == Body ghost button ===== */

/* Ghost on dark - Events date picker */
button.edp-button-ghost.edp-button-ghost--reverse,
.button.edp-button-ghost.edp-button-ghost--reverse,
button.tribe-events-c-top-bar__datepicker-button {
    font-size: var(--fs-body);
    color: var(--cl-light);
    /* background-color: var(--cl-dark-75);*/


    padding: var(--sp-xsmall) var(--sp-small);

    &:hover,
    &:focus {
        opacity: var(--op-strong);
    }

}

/* Ghost on light */
button.edp-button-ghost,
.button.edp-button-ghost,
.tribe-button.tribe-button-tertiary {
    font-size: var(--fs-body);
    color: var(--cl-dark);
    /* background-color: var(--cl-dark-75);*/


    padding: var(--sp-xsmall) var(--sp-small);

    &:hover,
    &:focus {
        opacity: var(--op-strong);
    }
}

/* == Outline button ===== */
/* Events today button */

.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar__today-button,
.wpbdp-main-box .submit-btn {
    /* background-color: var(--cl-dark); */
    color: var(--cl-light);
    text-transform: lowercase;
    font-size: var(--fs-body-small);
    font-weight: var(--fw-normal);
    line-height: var(--lh-body-small);
    border: 1px solid var(--cl-light);
    padding: var(--sp-xxsmall) var(--sp-xsmall);

    &:hover,
    &:focus {
        background-color: var(--cl-light);
        color: var(--cl-dark);
    }

}


/* == Icon button ===== */
/* Events arrow buttons */

a.tribe-common-c-btn-icon,
.tribe-events-c-nav__prev,
.tribe-events-c-nav__next,
.tribe-events-c-nav__today {
    &:is(:link, :visited) {
        color: var(--cl-light);
    }

    &:is(:hover, :active, :focus) {
        opacity: var(--op-strong);
    }
}

.tribe-events a.tribe-events-c-view-selector__list-item-link {

    &:is(:link, :visited) {
        color: var(--cl-dark);
    }

    &:is(:hover, :active) {
        color: var(--cl-purple);
        background: var(--cl-lightpurple-hover);
    }

}

/* Tag block */

.tag-block {

    padding: var(--sp-xxsmall) var(--sp-small) var(--sp-xxsmall) var(--sp-small);
    display: flex;
    gap: var(--sp-small);
    align-items: center;
    color: var(--cl-dark);
    border-radius: 4px;

    &:link,
    &:visited {
        border: 2px solid var(--cl-light);

        .fa-times {
            color: var(--cl-dark-50);
        }
    }

    &:hover,
    &:active {
        border: 2px solid var(--cl-medpurple);

        .fa-times {
            color: var(--cl-medpurple);
        }
    }
}

.archive .tag-block {

    background-color: var(--cl-lightpurple-hover);

    &:link,
    &:visited {
        border: 2px solid var(--cl-light);
        color: var(--cl-blog-primary);

        .fa-times {
            color: var(--cl-dark-50);
        }
    }

    &:hover,
    &:active {
        border: 2px solid var(--cl-medpurple);
        color: var(--cl-blog-primary);

        .fa-times {
            color: var(--cl-medpurple);
        }
    }

}


.business-directory .tag-block {
    width: fit-content;
    background-color: var(--cl-lightblue-hover);

    &:link,
    &:visited {
        border: 2px solid var(--cl-thesis-primary);
        color: var(--cl-darkblue);

        .fa-times {
            color: var(--cl-dark-50);
        }
    }

    &:hover,
    &:active {
        border: 2px solid var(--cl-darkblue);
        color: var(--cl-darkblue);
        box-shadow: none;

        .fa-times {
            color: var(--cl-darkblue);
        }
    }

}