.post-type-archive-tribe_events {
    #container {
        color: var(--cl-light);
        background-color: var(--cl-events-primary);
        background-image: url(../../images/edpsy-swirls-03.svg);
        background-position: right -74px;
        background-size: 750px;
        background-repeat: no-repeat;



        .tribe-events-c-top-bar {

            padding: var(--sp-xsmall) var(--sp-small);
            border: 1px solid var(--cl-light);




        }

        .tribe-events-calendar-list__month-separator {

            /* position: sticky;
            top: 0;
            z-index: 1000;*/

            .tribe-events-calendar-list__month-separator-text {
                font-size: var(--fs-title-large);
                line-height: var(--lh-title-large);
                font-weight: var(--fw-semibold);
                height: auto;
                margin-bottom: var(--sp-small);
                padding-bottom: var(--sp-small);
                /* background-color: var(--cl-dark-75);
                width: 100%; */

            }
        }

        .edp-events-calendar-list__event-row a {
            display: flex;
            justify-content: space-between;
            padding-bottom: var(--sp-medium);

            &:hover {

                opacity: var(--op-light);
            }


            .edp-events-calendar-list__event-date-tag {
                background-color: var(--cl-yellow);
                min-width: 105px;
                margin-right: var(--sp-small);


                .edp-events-calendar-list__event-date-tag-datetime {
                    padding: var(--sp-medium);
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    .edp-events-calendar-list__event-date-tag-weekday,
                    .edp-events-calendar-list__event-date-tag-month {
                        font-size: var(--fs-title-small);
                        font-weight: var(--fw-medium);
                        color: var(--cl-dark);
                    }

                    .edp-events-calendar-list__event-date-tag-daynum {
                        font-size: var(--fs-title-large);
                        font-weight: var(--fw-semibold);
                        color: var(--cl-dark);
                        padding: var(--sp-small) 0;
                    }
                }
            }

            .edp-events-calendar-list__event-header {
                padding: var(--sp-medium);
                background-color: var(--cl-light);
                color: var(--cl-dark);
                margin-right: var(--sp-small);
                flex-grow: 3;

                h3 {
                    font-size: var(--fs-title-small);
                    font-weight: var(--fw-semibold);
                }
            }

            .edp-events-calendar-list__event-meta {
                padding: var(--sp-medium);
                background-color: var(--cl-light);
                color: var(--cl-dark);
                min-width: var(--gs-3);
                font-style: normal;
                font-weight: var(--fw-semibold);
                font-size: var(--fs-body);

                .epd-events-calendar-list__event-venue {
                    margin-bottom: var(--sp-small);

                    .epd-events-calendar-list__event-venue-address {
                        font-style: normal;

                    }
                }
            }



        }

        .edp-events-calendar-list__event-row--featured a {

            .edp-events-calendar-list__event-header,
            .edp-events-calendar-list__event-meta {
                background-color: var(--cl-dark);
                color: var(--cl-light);
                border: 1px solid var(--cl-light);
            }


        }

        .tribe-events-c-nav__list {

            font-weight: var(--fw-semibold);

            & :disabled,
            & :disabled:hover {
                color: var(--cl-light);
                opacity: var(--op-strong);
                font-size: var(--fs-body);

            }

            svg {
                fill: var(--cl-light);
                height: 15px;
                display: inline-block;

                &.tribe-common-c-svgicon--caret-left {
                    margin-right: var(--sp-small);
                }

                &.tribe-common-c-svgicon--caret-right {
                    margin-left: var(--sp-small);
                }

            }
        }

        .tribe-events-c-subscribe-dropdown__container {
            display: none;
        }



        .event-disclaimer {
            margin: var(--sp-xlarge) 0 var(--sp-xxlarge) 0;

            p {
                max-width: 800px;
                margin-bottom: var(--sp-medium);
            }
        }


        .tribe-events .tribe-events-view-loader {
            background-color: var(--cl-dark);
            opacity: var(--op-light);
            left: -300px;
            right: -300px;

        }

    }


    /* == Date picker interface ====================== */

    .tribe-events .datepicker table {
        width: 100%;

    }

    .datepicker.dropdown-menu {
        background-color: var(--cl-light);
        border: 5px solid var(--cl-purple);
        border-radius: 5px;
    }


    .datepicker table tr td span,
    .datepicker td,
    .datepicker th {
        border-radius: 0;
    }

    .datepicker table tr td.active.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active.disabled:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active[disabled],
    .datepicker table tr td span.active.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled.active,
    .datepicker table tr td span.active.disabled.disabled,
    .datepicker table tr td span.active.disabled:active,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active.disabled:hover.active,
    .datepicker table tr td span.active.disabled:hover.disabled,
    .datepicker table tr td span.active.disabled:hover:active,
    .datepicker table tr td span.active.disabled:hover:hover,
    .datepicker table tr td span.active.disabled:hover[disabled],
    .datepicker table tr td span.active.disabled[disabled],
    .datepicker table tr td span.active:active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active:hover.active,
    .datepicker table tr td span.active:hover.disabled,
    .datepicker table tr td span.active:hover:active,
    .datepicker table tr td span.active:hover:hover,
    .datepicker table tr td span.active:hover[disabled],
    .datepicker table tr td span.active[disabled] {
        background-color: var(--cl-purple);
    }

    .tribe-events .datepicker .dow,
    .tribe-events .datepicker .datepicker-switch {
        font-weight: var(--fw-semibold);
    }

}

.single-tribe_events {

    header.event-page-header {
        margin-bottom: var(--sp-xxlarge)
    }

    .meta-item {

        li {
            padding-bottom: var(--sp-xsmall);
        }


    }

    .page-cta {
        display: flex;
        justify-content: end;
    }

    .tribe-events-after-html {
        padding: var(--sp-xlarge) 0 var(--sp-large) 0;
        background-color: var(--cl-dark);
        color: var(--cl-light);

        .event-disclaimer {
            padding-left: var(--sp-large);
        }
    }
}