@import url('variables.css');

#signup-slice {
    background-color: var(--cl-light);
    color: var(--cl-dark);
    padding: var(--sp-xxxlarge) 0;
    background-image: url('../../images/edpsy-swirls-05.svg');
    background-size: cover;
    background-position: center;

    .signup-content {
        background-color: var(--cl-light);
        padding: var(--sp-large);
        display: flex;
        align-items: start;

        .message {
            width: 60%;
            padding-right: var(--sp-large);

            h2 {
                font-size: var(--fs-display-small);
                line-height: var(--lh-display-small);
                font-weight: var(--fw-semibold);
                padding-bottom: var(--sp-small);
            }

            p {
                margin-bottom: var(--sp-small);
            }
        }


    }

}

footer#footer {
    background-color: var(--cl-dark);
    color: var(--cl-light);
    padding: var(--sp-xlarge) var(--sp-xlarge) var(--sp-large) var(--sp-xlarge);

    .footer-container {
        max-width: 1248px;

        display: flex;
        gap: var(--sp-home-gap);
        justify-content: space-between;
        margin: var(--sp-small) auto 0 auto;



        a:link,
        a:visited {
            color: var(--cl-light);
        }

        a:hover,
        a:active {
            opacity: var(--op-strong);
        }

        .footer-content,
        .foot-legal {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: start;

            p {
                margin-bottom: 0;
            }

            p.footer-social {
                margin-bottom: var(--sp-small);
            }

            .footer-message {
                flex-wrap: wrap;
            }
        }

        .foot-legal {
            margin-left: calc(124px + var(--sp-medium));
            /* width of logo + gap */
        }


        .footer-social {
            i {
                font-size: var(--fs-title-small);
                line-height: 20px;

            }

            a {
                display: flex;
            }

            .footer-bluesky-svg {
                display: flex;
                height: 20px;
                width: 23px;
            }

            .footer-mail {
                align-items: center;
                gap: var(--sp-xsmall);
            }
        }

        .footer-social,
        .footer-message {
            color: var(--cl-light-50);
            display: flex;
            align-items: center;
            gap: var(--sp-small);



        }

        .foot-legal {
            display: flex;
            flex-wrap: wrap;
            gap: var(--sp-xxsmall);

            div {
                display: flex;
                flex-wrap: wrap;
                gap: var(--sp-xxsmall);
            }
        }




    }

    .footer-logo {
        width: 124px;
        height: 116px;
    }
}