.edpsybold {

    .edpsybold.edp-jobs.add-job #container.edp-fullwidth,
    .category-jobs-admin,
    &.tribe_community_edit {

        .tribe-events-community-details,
        .tribe-section-content,
        .form-block {
            background-color: var(--cl-light);
            padding: var(--sp-small) var(--sp-large) var(--sp-small) var(--sp-large);
            color: var(--cl-dark);
        }

        .tribe-events-community-details {
            padding-bottom: var(--sp-medium);
        }

        .job-post-promo {
            background-color: var(--cl-light);
            padding: var(--sp-small) var(--sp-large);
        }

        fieldset,
        div.venue,
        div.organizer,
        .tribe-section-content-row,
        div.events-community-post-title,
        .events-community-post-content {
            display: flex;
            gap: 12px;
            align-items: flex-start;
            margin-top: var(--sp-small);

            padding: var(--sp-xxsmall) 0;

            label,
            .tribe-section-content-label {
                width: 30%;
                /*text-align: right;*/
                padding: 17px 0 0 var(--sp-small)
            }
        }

        table {
            width: 100%;
        }

        h2:not(#signup-slice h2),
        .tribe-section-header h3 {
            font-size: var(--fs-display-small);
            color: var(--cl-light);
            margin-top: var(--sp-xlarge);
            margin-bottom: var(--sp-medium);
        }

        .start-end-values {
            display: flex;
            gap: var(--sp-small-plus);
            align-items: center;
            width: 70%;
        }
    }



    .form-block,
    .tribe-section-content,
    .tribe-events-community-details {
        margin-top: var(--sp-small);
    }

    fieldset,
    .events-community-post-title,
    .events-community-post-content,
    .wpjm-submit-block {
        margin-top: var(--sp-medium);
        margin-bottom: var(--sp-medium);

        label small,
        label span.req {
            font-weight: var(--fw-light);
        }

        label span.req {
            font-size: 80%;
        }

    }

    .field {
        display: flex;
        flex-direction: column;
    }

    a:focus,
    .category-jobs a.button:focus,
    .wpjm-page input.button:focus,
    .job-manager-form fieldset input.input-date:focus,
    .job-manager-form fieldset input.input-text:focus,
    .job-manager-form fieldset select:focus,
    .job-manager-form fieldset textarea:focus,
    .select2-container--default.select2-container--focus .select2-selection--multiple,
    .job-manager-form input.button:focus,
    .job-manager-application-wrapper .application .application_button:focus,
    .single_job_listing .application .application_button:focus,
    .wpjm-single-job-post a.button:focus,
    #job_preview a.button:focus,
    .mc4wp-form-fields input:focus,
    .StripeElement--focus,
    input[type=checkbox]:focus {
        outline: 3px solid var(--cl-lightpurple);
        outline-offset: 0;
    }



    textarea,
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
        font-family: var(--ff);
        font-size: var(--fs-body);
        color: var(--cl-dark);
        background-color: var(--cl-light);
        border: 1px solid var(--cl-dark);
        padding: var(--sp-small);
        margin: var(--sp-xsmall) 0;
        width: 65%;
    }

    textarea {
        height: 250px;
    }

    fieldset:has(:focus),
    div.venue:has(:focus),
    div.organizer:has(:focus),
    .tribe-section-content-row:has(:focus),
    .events-community-post-title:has(:focus),
    .events-community-post-content:has(:focus) {
        background: var(--cl-lightpurple-hover);
    }

    fieldset.account-sign-in-field:has(:focus) {
        background: none;
    }


    /* ==== Field widths ========*/

    /* Standard */
    input[type="text"],
    input[type="email"],
    input#create_account_email,
    input[type="password"],
    input#company_name,
    .fieldset-type-term-multiselect .field,
    .checkbox-pair {
        width: var(--tb-medium);
    }

    /* County / City / Phone */
    input#StateProvinceText,
    input#VenueCity,
    input[type="tel"],
    input#OrganizerPhone,
    input#EventCost {
        width: var(--tb-small);
    }

    /* Dates / Postcodes */
    input[type="closing_date"],
    input[type="text"].tribe-field-start_date,
    input[type="text"].tribe-field-end_date,
    input[type="text"]#EventZip {
        width: var(--tb-xsmall);
    }

    /* Long URLs */
    input[type="text"]#company_website,
    input[type="text"]#application {
        width: var(--tb-large);
    }

    textarea#post_content,
    input#post_title {
        width: 68%;
    }

    /* Times */
    input[type="text"].tribe-field-start_time,
    input[type="text"].tribe-field-end_time {
        width: var(--tb-xxsmall);
    }




    /* help text */
    .tribe-section-content-field p,
    .tribe-community-event-info p,
    .tribe-section-content p {
        margin-bottom: 0;
    }





    .signup-content form {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    /* Community events form */

    #tribe-events-pg-template.tribe-events-pg-template {
        background: none;
    }


    .divider {
        margin-top: var(--sp-medium);
        margin-bottom: var(--sp-medium);
        overflow: hidden;
        text-align: center;

    }

    .divider::before,
    .divider::after {
        background-color: var(--cl-lightpurple-hover);
        content: "";
        display: inline-block;
        height: 3px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }

    .divider::before {
        right: 0.5em;
        margin-left: -50%;
    }

    .divider::after {
        left: 0.5em;
        margin-right: -50%;
    }



    /* Jobs form */

    &.edp-jobs.add-job #container.edp-fullwidth .category-jobs-admin .select2-container--default .select2-selection {
        font-family: var(--ff);
        font-size: var(--fs-body);
        color: var(--cl-dark);
        background-color: var(--cl-light);
        border: 1px solid var(--cl-dark);
        padding: var(--sp-xsmall);
        margin: var(--sp-xsmall) 0;
        width: 100%;
        border-radius: 0;


        display: flex;
        min-height: 49px;

        ul.select2-selection__rendered {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                list-style: none;
                list-style-type: none;
                margin-top: 3px;
                margin-right: 6px;
                margin-bottom: 3px;
                margin-left: 0;
            }
        }


        input::placeholder {
            font-family: var(--ff);
        }

        .select2-selection__choice {
            background-color: var(--cl-dark);
            border-color: var(--cl-dark);
            color: var(--cl-light);


            .select2-selection__choice__remove {
                margin-right: var(--sp-xxsmall);
                color: var(--cl-light);
            }

        }



    }

    .wpjm-submit-block {
        display: flex;
        justify-content: end;
        gap: var(--sp-home-gap);

        span.spinner {
            display: none;
        }
    }

    .preview-actions.wpjm-submit-block {
        justify-content: space-between;

    }

    .apply-block.wpjm-submit-block {
        justify-content: start;
    }



    .select2-container--default.select2-container--focus .select2-selection--multiple {
        outline: 3px solid var(--cl-lightpurple);
        outline-offset: 0;
    }

    /* Editor block - job description */

    div.mce-panel {
        background-color: var(--cl-light);

        .mce-toolbar-grp {
            border-bottom: none;

            #mceu_11-body {
                background-color: var(--cl-dark);

                .mce-toolbar {
                    background-color: var(--cl-dark);

                    .mce-ico {
                        color: var(--cl-light);
                    }

                    .mce-btn-group .mce-btn.mce-listbox {
                        background-color: var(--cl-light);
                    }

                    .mce-btn-group .mce-btn:focus,
                    .mce-btn-group .mce-btn:hover,
                    .qt-dfw:focus,
                    .qt-dfw:hover {
                        background-color: var(--cl-light);
                        color: var(--cl-dark);

                        .mce-ico {
                            color: var(--cl-dark);
                        }
                    }

                    .mce-btn-group .mce-btn.mce-active,
                    .mce-btn-group .mce-btn:active,
                    .qt-dfw.active {
                        background-color: var(--cl-lightpurple-hover);
                        color: var(--cl-dark);

                        .mce-ico {
                            color: var(--cl-dark);
                        }
                    }
                }
            }
        }

        iframe#job_description_ifr {
            height: 500px !important;
        }


    }

    /* ===----====---==== Field types  ===----====---==== */


    input[type="closing_date"],
    input[type="text"].tribe-field-start_date,
    input[type="text"].tribe-field-end_date,
    input[type="text"].tribe-field-start_time,
    input[type="text"].tribe-field-end_time {
        text-align: center;
    }





    .checkbox-pair {
        display: flex;
        outline: 1px solid var(--cl-dark);
        align-items: center;
        padding-left: var(--sp-medium);
        min-height: 48px;
        margin-top: var(--sp-small);

        &:hover {
            background-color: var(--cl-lightpurple-hover);
        }
    }

    input[type="file"].input-text {
        font-size: var(--fs-body);
        font-family: var(--ff);
    }

    .form-block .tribe-helptext {
        margin-top: var(--sp-medium);
    }

    .form-block.form-block-job-description#form-block-job-description {
        padding: var(--sp-small-plus);
        margin-top: var(--sp-small);

        fieldset.fieldset-job_description,
        .events-community-post-content {
            flex-direction: column;
            margin-top: 0;

            label {
                display: none;
            }

            .field {
                width: 100%;

            }


        }
    }
}




/* ========== Add an event =========== */


.tribe-datetime-block .tribe-section-content-field {
    display: flex;
    gap: var(--sp-medium);
    flex-wrap: wrap;

    .tribe-change-timezone {
        width: 100%;
    }

    .tribe-datetime-separator {
        display: flex;
        align-items: center;
    }

}

.tribe-section-image-uploader,
.aes {
    display: none;
}



/* ============= Jobs only  ============= */
/* ====================================== */


.edpsybold.edp-jobs.add-job {
    header[role="banner"] {
        border-bottom: none;
    }

    #container.edp-fullwidth {
        background-color: var(--cl-jobs-primary);




        .category-jobs-admin {

            fieldset .field {
                flex-direction: column-reverse;
            }

            fieldset.fieldset-closing_date .field,
            .fieldset-cap_declaration .field {
                flex-direction: column;
            }
        }
    }

    /* job type iframe */

    .select2-dropdown {
        background-color: var(--cl-light);
        margin-top: -2px;
        border-radius: 0;
        border: none;
        outline: 3px solid var(--cl-lightpurple)
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: var(--cl-lightpurple);
    }
}


/* =============== Date pickers =============== */

div#ui-datepicker-div,
.tribe-events .datepicker {
    background-color: var(--cl-light);
    font-family: var(--ff);

    border: 3px solid var(--cl-purple);
    padding: 0 var(--sp-small-plus) var(--sp-small-plus) var(--sp-small-plus);

    .ui-datepicker-group {
        background-color: var(--cl-light);
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        display: none;
    }

    table {
        font-size: var(--fs-body-small);
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        background-image: none;
        border: none;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .ui-datepicker-calendar td a:link,
    .ui-datepicker-calendar td a:visited {
        background-color: var(--cl-light);
    }

    table tr td.day.focused,
    table tr td.day:hover,
    .ui-datepicker-calendar td a:hover {
        background-color: var(--cl-lightpurple-hover);
    }


}

/* .datepicker - events listing page
ui-datepicker - forms datepicker - jobs and events */

.tribe-events .datepicker table {
    width: 100%;

}

/* Changing the three col datepicker to one */

div#ui-datepicker-div {
    width: 395px;
    max-width: 395px;
}

.ui-datepicker-group.ui-datepicker-group-middle,
.ui-datepicker-group.ui-datepicker-group-last {
    display: none;
}

.ui-datepicker-multi-3 .ui-datepicker-group.ui-datepicker-group-first {
    width: 100%;
}

.edpsybold .ui-widget-content {
    background-color: var(--cl-light);
    background-image: none;
}

.edpsybold .ui-widget-header {
    border: none;
    background: none;
}




body:not(.wp-admin, .wp-core-ui) {



    .ui-timepicker-wrapper {
        background-color: var(--cl-light);
        color: var(--cl-dark);

        li.ui-timepicker-selected,
        .ui-timepicker-list li:hover,
        .ui-timepicker-list .ui-timepicker-selected:hover {
            background-color: var(--cl-lightpurple-hover);
            color: var(--cl-dark);
        }

        .ui-timepicker-list li {
            text-align: center;
        }
    }

    .datepicker.dropdown-menu,
    div#ui-datepicker-div,
    .ui-timepicker-wrapper {
        background-color: var(--cl-light);
        border: 5px solid var(--cl-purple);
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }


    .datepicker table tr td span,
    .datepicker td,
    .datepicker th,
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border-radius: 0;
        font-size: var(--fs-body-small);
        font-weight: var(--fw-extralight);
        min-width: 48px;
        min-height: 49px;
    }


    input[type="checkbox"] {
        border-radius: 0;
        font-size: var(--fs-body-small);
        font-weight: var(--fw-extralight);
        min-width: 20px;
        min-height: 20px;
        margin-right: 10px;
    }


    .datepicker table tr td.active.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled.active,
    .datepicker table tr td.active.disabled.disabled,
    .datepicker table tr td.active.disabled:active,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active.disabled:hover.active,
    .datepicker table tr td.active.disabled:hover.disabled,
    .datepicker table tr td.active.disabled:hover:active,
    .datepicker table tr td.active.disabled:hover:hover,
    .datepicker table tr td.active.disabled:hover[disabled],
    .datepicker table tr td.active.disabled[disabled],
    .datepicker table tr td.active:active,
    .datepicker table tr td.active:hover,
    .datepicker table tr td.active:hover.active,
    .datepicker table tr td.active:hover.disabled,
    .datepicker table tr td.active:hover:active,
    .datepicker table tr td.active:hover:hover,
    .datepicker table tr td.active:hover[disabled],
    .datepicker table tr td.active[disabled],
    .datepicker table tr td span.active.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled.active,
    .datepicker table tr td span.active.disabled.disabled,
    .datepicker table tr td span.active.disabled:active,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active.disabled:hover.active,
    .datepicker table tr td span.active.disabled:hover.disabled,
    .datepicker table tr td span.active.disabled:hover:active,
    .datepicker table tr td span.active.disabled:hover:hover,
    .datepicker table tr td span.active.disabled:hover[disabled],
    .datepicker table tr td span.active.disabled[disabled],
    .datepicker table tr td span.active:active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active:hover.active,
    .datepicker table tr td span.active:hover.disabled,
    .datepicker table tr td span.active:hover:active,
    .datepicker table tr td span.active:hover:hover,
    .datepicker table tr td span.active:hover[disabled],
    .datepicker table tr td span.active[disabled] {
        background-color: var(--cl-purple);
    }

    .tribe-events .datepicker .dow,
    .tribe-events .datepicker .datepicker-switch {
        font-weight: var(--fw-semibold);
    }
}