@import url('variables.css');




.edp-fullwidth {
    width: 100%;
    padding: 0 var(--sp-medium);
}

.edp-pagewidth {
    width: var(--lv-full-width);
    margin: 0 max(4vw, var(--sp-small));

}


@media only screen and (max-width: 600px) {
    .fullwidth {
        width: 100%;
        padding: 0 var(--sp-medium);
    }
}


.grid12 {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    grid-column-gap: 24px;
    max-width: var(--lv-full-width);
    margin: 0 auto;

    >* {
        grid-column: 2 / span 10;
    }


    #site-title {
        grid-column: 1 / span 2;
    }

    .backblock-link {
        grid-column: 1 / span 12;
    }

    nav.top-nav-menu {
        grid-column: 3 / span 10;
    }
}

@media only screen and (max-width: 700px) {
    .grid12 {
        .menu-toggle {
            grid-column: 11 / span 2;
            justify-self: end;
        }

        nav.top-nav-menu {
            grid-column: 1 / span 12;
        }
    }
}

/* === Homepage ============ */

.home .grid12 {
    >* {
        grid-column: 1 / span 12;
    }


}


/* === Page ===================== */

.page-template-default:not(.job-listings-page, .wpbdp-view-main) article.type-page {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 3 / span 8;

    >* {
        grid-column: 1 / span 8;
    }



    .entry-content {
        grid-column: 1 / span 8;

        img {
            grid-column: -1 / span 10;
        }
    }



}

@media only screen and (max-width: 600px) {
    .page-template-default:not(.job-listings-page, .wpbdp-view-main) article.type-page {
        grid-column: 1 / span 12;

        >* {
            grid-column: 1 / span 12;
        }

        .entry-content {
            grid-column: 1 / span 12;
        }
    }
}





/* === Blog list page =========== */

/* Blog list page */

.archive.category-blog .grid12 {
    :is(article.post) {
        grid-column: 3 / span 8;
    }

    header {
        grid-column: 1 / span 12;


    }
}

.archive.author .archive-meta {
    display: grid;
    grid-template-columns: subgrid;

}

@media only screen and (max-width: 600px) {

    .archive.author .archive.category-blog .grid12,
    body.archive.author .grid12 {
        :is(article.post) {
            grid-column: 1 / span 12;
        }

        .archive-meta {
            grid-column: 1 / span 12;

            .author-avatar {
                grid-column: 1 / span 4;
            }

            .author-description {
                grid-column: 5 / span 7;
            }
        }
    }
}


/* Blog post */



body.single-post {
    article.type-post {


        h1.entry-title {
            grid-column: 2 / span 8;
        }

        .author-image-header-block {
            grid-column: 1 / span 12;

            .meta-bg {
                grid-column: 1 / span 1;

            }

            .entry-meta {
                grid-column: 10 / span 2;
            }

            .entry-image {
                grid-column: 2 / span 7;

            }


        }



        .entry-content {

            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            ul,
            ol,
            blockquote,
            .content-body {
                grid-column: 3 / span 6;
            }

            .entry-author--top {
                grid-column: 9 / span 3;
            }
        }

        .entry-footer {

            .cat-links,
            .tag-links {
                grid-column: 3 / span 7;
            }


        }
    }


}

body.single-post article.type-post .entry-footer,
.archive.author {

    header.header {
        grid-column: 1 / span 12;
    }

    .author-info {

        display: grid;
        grid-template-columns: subgrid;

        .author-avatar {
            grid-column: 1 / span 2;
        }

        .author-description {
            grid-column: 3 / span 7;
        }
    }

    :where(.author) .author-info {
        grid-column: 1 / span 10;
    }
}

body.single-post article.type-post .entry-footer {

    .author-info {
        grid-column: 1 / span 10;

    }
}

.archive {

    .author-info {
        grid-column: 1 / span 10;
    }
}


.archive.author .author-info {
    grid-column: 1 / span 10;
}


/* == Events ====================== */



/* Events list */

.post-type-archive-tribe_events .tribe-events-view--month {
    grid-column: 1 / span 12;
}

.tribe-events-view--list {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: subgrid;


    >* {
        grid-column: 2 / span 10;
    }

    .tribe-events-l-container {
        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: subgrid;

        >* {
            grid-column: 2 / span 10;
        }

        @media only screen and (max-width: 600px) {

            >* {
                grid-column: 1 / span 12;
            }
        }

    }

    .tribe-events-header {
        grid-column: 1 / span 12;
    }

    .tribe-events-header__top-bar {
        grid-column: 2 / span 10;
    }

    .tribe-events-calendar-list {
        jobs grid-column: 2 / span 10;
    }

    @media only screen and (max-width: 600px) {
        .tribe-events-l-container {
            >* {
                grid-column: 1 / span 12;
            }
        }

        .tribe-events-header__top-bar {
            grid-column: 1 / span 12;
        }
    }
}

/* Event form */

.tribe_community_edit .tribe-events-pg-template {
    grid-column: 2 / span 10;
}


/* Single event */

.single-tribe_events article.tribe-events-single .tribe-events-after-html .event-disclaimer {
    grid-column: 2 / span 8;
}

.single-tribe_events article.tribe-events-single .tribe-events-venue-map {
    grid-column: 1 / span 12;
}





/* == Jobs ====================== */

/* Jobs listing page */
.job-listings-page,
.add-job {


    :is(article.page) {
        grid-column: 1 / span 12;
    }
}

.add-job {
    article.category-jobs-admin {

        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: subgrid;

        header {

            grid-column: 1 / span 12;
        }

        >* {
            grid-column: 2 / span 10;
        }
    }
}



/* Single listing page - job ad page / events page / Thesis page*/
.single-tribe_events,
.single-job-listing,
.single-wpbdp_listing,
.job_listing_preview {

    article.tribe-events-single,
    article.type-job_listing,
    article.wpbdp_listing {


        >* {
            grid-column: 3 / span 8;
        }

        header {
            display: grid;

            grid-column: 2 / span 10;
        }

        .meta-slice {
            grid-column: 1 / span 12;
            display: grid;
            grid-template-columns: subgrid;

            .meta-img-l {
                grid-column: 1 / span 3;

            }

            .job-listing-meta,
            .event-listing-meta,
            .edp-thesis-meta {
                grid-column: 4 / span 6;

            }


            .meta-img-r {
                grid-column: 10 / span 3;

            }
        }

        .job_description {
            grid-column: 3 / span 8;
        }

        .job-listing-logo {
            grid-column: 8 / span 3;

        }






    }

    .job-footer-contents {
        grid-column: 3 / span 8;
    }


}

@media only screen and (max-width: 600px) {

    .single-tribe_events,
    .single-job-listing,
    .single-wpbdp_listing {

        article.tribe-events-single,
        article.type-job_listing,
        article.wpbdp_listing {
            >* {
                grid-column: 1 / span 12;
            }

            header {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                grid-column: 1 / span 12;
            }

            .meta-slice {
                .meta-img-l {
                    display: none;

                }

                .job-listing-meta,
                .event-listing-meta,
                .edp-thesis-meta {
                    grid-column: 1 / span 12;



                }


                .meta-img-r {
                    display: none;
                }
            }

            .job_description {
                grid-column: 1 / span 12;
            }
        }

        .job-footer-contents {
            grid-column: 1 / span 12;
        }
    }
}

/* == Thesis directory ====================== */

.wpbdp-view-main {

    :is(article.page) {
        grid-column: 1 / span 12;
        grid-template-columns: subgrid;
        display: grid;

        /* Title */
        header {
            grid-column: 1 / span 12;
        }


        /* Search tools and list */
        >* {
            grid-column: 2 / span 10;
        }
    }

}

@media only screen and (max-width: 600px) {
    .wpbdp-view-main {

        :is(article.page) {

            /* Search tools and list */
            >* {
                grid-column: 1 / span 12;
            }
        }
    }
}


/* == Footer ====================== */

.footer-container.grid12>img {
    grid-column: 1 / span 3;
}

.span10 {
    grid-column: 2 / span 10;
}

.span8 {
    grid-column: 3 / span 8;
}