@import url('variables.css');

.edp-fullwidth {
    width: 100%;
    padding: 0 var(--sp-medium);
}

.edp-pagewidth {
    width: var(--lv-full-width);
    margin: 0 max(4vw, var(--sp-small));

}



.grid12 {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    grid-column-gap: 24px;
    max-width: var(--lv-full-width);
    margin: 0 auto;

    >* {
        grid-column: 2 / span 10;
    }



    #site-title {
        grid-column: 1 / span 2;
    }

    a.backblock-link {
        grid-column: 1 / span 2;
    }

    nav.top-nav-menu {
        grid-column: 3 / span 10;
    }
}

/* === Page ===================== */

.page-template-default:not(.job-listings-page) article.type-page {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 10;

    >* {
        grid-column: 2 / span 8;
    }

    .entry-content {
        grid-column: 2 / span 8;
    }
}





/* === Blog list page =========== */

.archive.category-blog .grid12 {
    :is(article.post) {
        grid-column: 3 / span 8;
    }

    header {
        grid-column: 1 / span 12;


    }
}

/* == Events ====================== */

/* Events list */

.post-type-archive-tribe_events .tribe-events-view--month {
    grid-column: 1 / span 12;
}

.tribe-events-view--list {
    grid-column: 1 / span 12;
    display: grid;
    grid-template-columns: subgrid;


    >* {
        grid-column: 2 / span 10;
    }

    .tribe-events-l-container {
        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: subgrid;

        >* {
            grid-column: 2 / span 10;
        }


    }

    .tribe-events-header {
        grid-column: 1 / span 12;
        display: grid;
        grid-template-columns: subgrid;

        h1 {
            grid-column: 1 / span 12;
        }

        .tribe-events-header__top-bar {
            grid-column: 2 / span 10;
        }


    }

    .tribe-events-calendar-list {
        grid-column: 2 / span 10;
    }
}


/* == Jobs ====================== */

/* Jobs listing page */
.job-listings-page {


    :is(article.page) {
        grid-column: 1 / span 12;
    }
}

/* Job ad page */
.single-job-listing article.type-job_listing {

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 2 / span 10;

    header {

        grid-column: 1 / span 7;
    }

    .job-listing-meta {
        grid-column: 3 / span 6;
    }

    .job_description {
        grid-column: 2 / span 8;
    }
}


/* == Footer ====================== */

.footer-container.grid12>img {
    grid-column: 1 / span 3;
}

.span10 {
    grid-column: 2 / span 10;
}

.span8 {
    grid-column: 3 / span 8;
}