/* == Heading layout (to allow promo boxes) - both the same, but bug requires both ============== */

.post-type-archive-tribe_events header:not(role="banner") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

/* == listing page (jobs, blog, thesis, events) - page title + CTA block ============== */
.job-listings-page article header,
.business-directory article header,
.archive main header.header,
.tribe-events header.tribe-events-header,
.add-job header.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;


}


/* viewport-specific rules moved to parts/viewport.css */

/* == Blog post ============== */
.single-post article,
.page-template-default:not(.edp-jobs) {

    header {


        h1 {
            font-size: var(--fs-title-xlarge);
            line-height: var(--lh-title-xlarge);
        }

        .entry-title {
            margin-bottom: var(--sp-xxlarge);
        }
    }

    /*====== Translations ===== */

    &.page-id-5008,
    &.page-id-5006,
    &.page-id-5010,
    &.page-id-13601,
    &.page-id-13702,
    &.page-id-13632 {

        h1.entry-title {
            margin-bottom: var(--sp-medium);
        }

        .entry-content .translation-options {
            h2 {
                margin-bottom: var(--sp-large);
            }

            p {
                outline: solid 1px var(--cl-dark);
                padding: var(--sp-small) var(--sp-medium);
            }
        }
    }
}


.edp-parent-jobs .article.category-jobs h1 {
    font-size: var(--fs-title-xlarge);
    line-height: var(--lh-title-xlarge);
}










.page-promo {



    a {
        display: flex;
        align-items: center;
        border: 1px solid var(--cl-light);
        padding: var(--sp-small) var(--sp-medium);
        font-size: var(--fs-title-small);
        font-weight: var(--fw-semibold);

        .promo-subtitle {
            margin-left: var(--sp-medium);
            font-size: var(--fs-body);
            font-weight: var(--fw-light);
            line-height: var(--lh-body);
        }

        &.edp-blog-promo {
            color: var(--cl-blog-primary);
            border-color: var(--cl-blog-primary);

            &:link,
            &:visited {
                color: var(--cl-blog-primary);
            }

            &:hover,
            &:active {
                background-color: var(--cl-blog-primary);
                color: var(--cl-light);
            }
        }

        &.edp-jobs-promo {
            padding: var(--sp-medium);

            .promo-text {

                display: flex;
                align-items: flex-start;


            }
        }






        i {
            margin-left: var(--sp-medium);
        }

        &:link,
        &:visited {
            color: var(--cl-light);
        }

        &.edp-thesis-promo:link,
        &.edp-thesis-promo:visited {
            background-color: var(--cl-light-15);
        }


        &.edp-events-promo:link,
        &.edp-events-promo:visited {
            background-color: var(--cl-dark-50);
        }

        &:hover,
        &.edp-events-promo:hover,
        &:active,
        &.edp-events-promo:active,
        &.edp-thesis-promo:hover,
        &.edp-thesis-promo:active {
            background-color: var(--cl-light);
            color: var(--cl-dark);
            box-shadow: none;
        }


    }


}

.home .homepage-jobs .article-item {

    &:hover,
    &:active {

        a {
            color: var(--cl-dark-75) !important;
        }
    }

    .edp-jobs-promo--home {
        flex-direction: column;
        padding: 0;



        .home-article-image {
            padding: var(--sp-medium);
            display: flex;
            flex-direction: row;

            align-items: center;

            .promo-text {

                display: flex;
                flex-direction: column;
                align-items: flex-start;


                .promo-title {
                    margin-bottom: var(--sp-small);
                    color: var(--cl-orange);
                }

                .promo-subtitle {
                    margin-left: 0;
                    text-align: left;
                }


            }
        }

        i {
            color: var(--cl-orange);
        }

        h3 {
            display: none;
        }
    }
}


/* viewport-specific rules moved to parts/viewport.css */

/* == H1 ==================================================================================== */

/*.page,
.single-post,
.archive,
.single-tribe_events,
.single-wpbdp_listing {*/

/* global + breaking through Tribe css */




body:not(.home),
.tribe_community_edit,
.post-type-archive-tribe_events {

    h1,
    h2.my-events {
        font-weight: var(--fw-semibold);
        margin: var(--sp-xxlarge) 0 var(--sp-xxlarge) 0;
        font-size: var(--fs-title-xlarge);
        line-height: var(--lh-title-xlarge);

    }




    .title-tag {
        h1 {
            margin-bottom: var(--sp-small);
        }

        h2 {
            margin-bottom: calc(var(--sp-xxlarge) - var(--sp-small) - 42px);
            padding-left: var(--sp-xsmall);
            display: flex;
            gap: var(--sp-small);
            align-items: center;

            .fa-tags,
            .fa-user-circle {
                color: var(--cl-medpurple);
            }


        }
    }

    .wpbdp-listing-single {
        .name-inst-year {
            margin-top: var(--sp-xxlarge);
        }

        h1 {
            margin-top: var(--sp-large);
            max-width: 850px;
            font-weight: var(--fw-light);
        }
    }
}




/* == Listing pages (jobs, blog, events (.archive covers both))  ============== */
/* ==================================================================================== */


.job-listings-page,
.archive,
.wpbdp-view-main,
.wpbdp-view-search {
    h1 {
        text-transform: lowercase;
    }
}

/* == Display large H1 (jobs, blog, events)  ============== */
body.edp-jobs,
body.archive {
    h1 {
        font-size: var(--fs-display-large);
        line-height: var(--lh-display-large);
    }

    &.add-job h1 {
        font-size: var(--fs-display-medium);
        line-height: var(--lh-display-medium);
    }

    /* viewport-specific rules moved to parts/viewport.css */
}

/* == Display medium H1 (thesis listings)  ============== */
.business-directory.wpbdp-view-main h1.entry-title,
.business-directory.wpbdp-view-search h1.entry-title,
.tribe_community_edit h2.my-events,
body.category-jobs-admin h1.entry-title {
    font-size: var(--fs-display-medium);
    line-height: var(--lh-display-medium);
}




/* == Title medium H1 (thesis single)  ============== */

.business-directory.single-wpbdp_listing {

    h1 {
        font-size: var(--fs-title-medium);
        line-height: var(--lh-title-medium);
    }
}



/* == Dark ===== */
.edp-jobs,
.archive.post-type-archive-tribe_events,
.business-directory.wpbdp-view-main,
.business-directory.wpbdp-view-search {
    h1 {
        color: var(--cl-light);
    }
}

/* == Light ===== */
/* Blog listing page */
.archive {
    h1 {
        color: var(--cl-blog-primary);
        margin-left: -7px;

    }
}


/* == Content pages (job ad, blog post, event page, thesis page)  ===================== */
/* ==================================================================================== */

/*.page-template-default:not(.edp-jobs),
.single-post {
    h1 {
        font-size: var(--fs-display-small);
        line-height: var(--lh-display-small);
    }
}*/

.single-post,
.single-tribe_events,
.edp-jobs.single-job_listing article.type-job_listing {
    h1 {
        font-size: var(--fs-title-large);
        line-height: var(--lh-title-large);
        color: var(--cl-dark);
        width: 100%;
        padding-right: var(--sp-xlarge);
    }

    /* viewport-specific rules moved to parts/viewport.css */
}

/* == Other headings ============== */
body:not(.wp-admin) {
    h2 {
        font-size: var(--fs-title-medium);
        font-weight: var(--fw-semibold);
        line-height: var(--lh-title-medium);

    }

    h3,
    fieldset label,
    .events-community-post-title label,
    .events-community-post-content label,
    .tribe-section-content label,
    .tribe-events-community-detail label,
    .tribe_community_edit label {
        font-size: var(--fs-title-small);
        font-weight: var(--fw-semibold);
    }

    /* viewport-specific rules moved to parts/viewport.css */
}

/* Chunky H2 titles */

.edp-jobs.single-job_listing article.type-job_listing,
.single-tribe_events article.type-tribe_events,
.single-wpbdp_listing article.type-wpbdp_listing,
.search-results {
    header {


        .entry-title,
        .tribe-events-single-event-title {
            margin-bottom: var(--sp-small);
        }

        .company,
        .edp-event-date-time,
        .edp-event-cost,
        .edp-event-location,
        .edp-event-on-demand,
        .wpbdp-year-inst-block,
        .search-results__count {
            font-size: var(--fs-title-medium);
            font-weight: var(--fw-semibold);
            line-height: var(--lh-title-large);
        }

    }
}