@import url('variables.css');

.edp-jobs,
.archive {
    h1 {
        font-size: var(--fs-display-large);
        line-height: var(--lh-display-large);
        margin: var(--sp-medium) 0 var(--sp-xlarge) 0;
        font-weight: var(--fw-semibold);
    }
}

.edp-jobs,
.archive.post-type-archive-tribe_events {
    h1 {
        color: var(--cl-light);
    }
}

/* Blog list page */
.archive {
    h1 {
        color: var(--cl-lightblue);
        margin-left: -7px;
        text-transform: lowercase;

    }
}

/* Thesis */
.business-directory {
    h1 {
        font-size: var(--fs-display-medium);
        line-height: var(--lh-display-medium);
        color: var(--cl-light);
        margin: var(--sp-medium) 0;
        font-weight: var(--fw-semibold);
    }
}