@import url('variables.css');

header[role="banner"] {
    .grid12 {
        align-items: center;
    }

    .header-logo {
        width: 64px;
        margin: var(--sp-small) 0
    }

    a:hover .header-logo {
        opacity: 0.8;
    }
}