/* == Heading layout (to allow promo boxes) - both the same, but bug requires both ============== */

.post-type-archive-tribe_events header:not(role="banner") {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

/* == listing page (jobs, blog, thesis, events) - page title + CTA block ============== */
.job-listings-page article header,
.business-directory article header,
.archive main header.header,
.tribe-events header.tribe-events-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

/* == Blog post ============== */
.single-post article {

    header {
        /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;*/

        h1 {
            font-size: var(--fs-display-medium);
        }

        .entry-title {
            margin-bottom: var(--sp-xxlarge);
        }
    }
}











.page-promo {



    a {
        display: flex;
        align-items: center;
        border: 1px solid var(--cl-light);
        padding: var(--sp-small) var(--sp-medium);
        font-size: var(--fs-title-small);
        font-weight: var(--fw-semibold);

        &.edp-blog-promo {
            color: var(--cl-blog-primary);
            border-color: var(--cl-blog-primary);

            &:link,
            &:visited {
                color: var(--cl-blog-primary);
            }

            &:hover,
            &:active {
                background-color: var(--cl-blog-primary);
                color: var(--cl-light);
            }
        }

        &.edp-jobs-promo {
            padding: var(--sp-medium);

            .promo-text {

                display: flex;
                align-items: flex-start;

                .promo-subtitle {
                    margin-left: var(--sp-medium);
                    font-size: var(--fs-body);
                    font-weight: var(--fw-light);
                    line-height: var(--lh-body);
                }
            }
        }





        i {
            margin-left: var(--sp-medium);
        }

        &:link,
        &:visited {
            color: var(--cl-light);
        }

        &.edp-events-promo:link,
        &.edp-events-promo:visited {
            background-color: var(--cl-dark-50);
        }

        &:hover,
        &.edp-events-promo:hover,
        &:active,
        &.edp-events-promo:active {
            background-color: var(--cl-light);
            color: var(--cl-dark);
        }


    }
}

/* == H1 ==================================================================================== */

/*.page,
.single-post,
.archive,
.single-tribe_events,
.single-wpbdp_listing {*/

/* global + breaking through Tribe css */

body:not(.home),
.post-type-archive-tribe_events {
    h1 {
        font-weight: var(--fw-semibold);
        margin: var(--sp-xxlarge) 0 var(--sp-xxlarge) 0;
    }

    .wpbdp-listing-single {
        .name-inst-year {
            margin-top: var(--sp-xxlarge);
        }

        h1 {
            margin-top: var(--sp-large);
            max-width: 850px;
            font-weight: var(--fw-light);
        }
    }
}




/* == Listing pages (jobs, blog, events (.archive covers both), thesis)  ============== */
/* ==================================================================================== */


.job-listings-page,
.archive,
.wpbdp-view-main {
    h1 {
        text-transform: lowercase;
    }
}

/* == Display large H1 (jobs, blog, events)  ============== */
.edp-jobs,
.archive {
    h1 {
        font-size: var(--fs-display-large);
        line-height: var(--lh-display-large);
    }
}

/* == Display medium H1 (thesis listings)  ============== */
.business-directory {
    &.wpbdp-view-main {
        h1 {
            font-size: var(--fs-display-medium);
            line-height: var(--lh-display-medium);
        }
    }


}


/* == Title medium H1 (thesis single)  ============== */

.business-directory.single-wpbdp_listing {

    h1 {
        font-size: var(--fs-title-medium);
        line-height: var(--lh-title-medium);
    }
}



/* == Dark ===== */
.edp-jobs,
.archive.post-type-archive-tribe_events,
.business-directory.wpbdp-view-main {
    h1 {
        color: var(--cl-light);
    }
}

/* == Light ===== */
/* Blog listing page */
.archive {
    h1 {
        color: var(--cl-blog-primary);
        margin-left: -7px;

    }
}


/* == Content pages (job ad, blog post, event page, thesis page)  ===================== */
/* ==================================================================================== */

/*.page-template-default:not(.edp-jobs),
.single-post {
    h1 {
        font-size: var(--fs-display-small);
        line-height: var(--lh-display-small);
    }
}*/

.page-template-default:not(.edp-jobs, .business-directory),
.single-post,
.single-tribe_events,
.edp-jobs.single-job_listing article.type-job_listing {
    h1 {
        font-size: var(--fs-title-large);
        line-height: var(--lh-title-large);
        color: var(--cl-dark);
        width: 100%;
        padding-right: var(--sp-xlarge);
    }

    @media only screen and (max-width: 600px) {
        h1 {
            font-size: var(--fs-title-smallmedium);
            line-height: var(--lh-title-smallmedium);
            margin-top: var(--sp-large);
            margin-bottom: var(--sp-medium);
            padding-right: 0;
        }
    }
}

/* == Other headings ============== */

h2 {
    font-size: var(--fs-title-medium);
    font-weight: var(--fw-semibold);
    line-height: var(--lh-title-medium);

}

h3 {
    font-size: var(--fs-title-small);
    font-weight: var(--fw-semibold);
}

@media only screen and (max-width: 600px) {
    h2 {
        font-size: var(--fs-title-small);
    }
}