@import url('variables.css');

header[role="banner"] {
    .grid12 {
        align-items: center;
    }

    border-bottom: 1px solid var(--cl-dark);

    h1 {
        line-height: 0;
    }

    .header-logo {
        width: 48px;
        margin: var(--sp-small) 0
    }

    a:hover .header-logo {
        opacity: var(--op-light);
    }

    nav.top-nav-menu {
        height: 100%;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            >li {

                font-size: var(--fs-body-small);
                font-weight: var(--fw-semibold);
                color: var(--cl-dark);
                cursor: pointer;
                transition: background-color 0.3s;
                display: flex;


                a {

                    color: var(--cl-dark);
                    height: 100%;
                    padding: var(--sp-medium);
                    padding-bottom: calc(var(--sp-medium) - 2px);
                    border-bottom: 3px solid var(--cl-light);


                }

                a:hover,
                &.current-menu-parent a,
                &.current-menu-item a {

                    border-bottom: 3px solid var(--cl-dark);
                }

                li {
                    display: none;
                }
            }
        }
    }

}

/* === Events ================ */

/* --- Events listing -------- */

.post-type-archive-tribe_events {
    header[role="banner"] {
        border-bottom: none;
    }


}

/* --- Single event -------- */

.single-tribe_events {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-dark);

        padding-top: var(--sp-small);
        padding-bottom: var(--sp-small);

        a {
            color: var(--cl-light)
        }
    }

}

/* === Jobs ================ */

/* --- Jobs listing -------- */

.job-listings-page {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }


}

/* --- Job ad -------------- */

.single-job_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-orange);

        padding-top: var(--sp-small);
        padding-bottom: var(--sp-small);

        a {
            color: var(--cl-light)
        }
    }

}


/* === Thesis ================ */

.wpbdp-view-main {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }
}

/* --- Thesis  -------- */

.single-wpbdp_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-lightblue);

        padding-top: var(--sp-small);
        padding-bottom: var(--sp-small);

        a {
            color: var(--cl-light)
        }
    }

}