.home {

    #container.edp-fullwidth {
        background-image: url(../../images/edpsy-swirls-21-90.svg);
        background-color: var(--cl-dark);
        background-position: calc(100% + 2px) top;
        background-repeat: no-repeat;
        background-size: 300px;
        padding-top: 150px;
    }

    a:link,
    a:visited {
        color: var(--cl-light);
    }




    /*  ===== Hero ========================= */

    .hero-post,
    .home-divider,
    .focus-on,
    .longer-reads {
        margin-bottom: 90px;
        border-radius: var(--rd-large);
    }

    /* because the bottom row of articles bring their own margins */
    .article-grid {
        margin-bottom: var(--sp-home-gap);
    }

    section.hero-post {
        /*margin-top: var(--sp-xlarge);*/
        margin-top: 0px !important;
        margin-bottom: 90px;
        background-color: var(--cl-light);

        a:hover,
        a:active {
            box-shadow: none;

            .hero-image {
                opacity: var(--op-light);
            }

            h1 {
                color: var(--cl-purple-hover);
            }
        }

        h2 {
            color: var(--cl-light);
        }

        .home-hero-item a {
            display: flex;
            flex-direction: row;
            gap: var(--sp-home-gap);
            color: var(--cl-dark);

            .hero-text {
                width: calc(50% - (var(--sp-medium))/2);

                h1 {
                    font-size: var(--fs-title-large);
                    line-height: var(--lh-title-large);
                    font-weight: var(--fw-semibold);
                    margin-bottom: var(--sp-small);
                }

            }

            .hero-image {
                width: calc(50% - (var(--sp-medium))/2);
                aspect-ratio: var(--aspect-ratio-landscape);
                border-radius: var(--rd-large);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }





    .home-see-all {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }


}

.home {
    .article-grid {
        .article-item {

            background-color: var(--cl-dark-50);
            border-radius: var(--rd-large);

        }

        li.job_listing,
        .article-item {

            &:active,
            &:hover {

                .home-article-image {
                    filter: brightness(75%);
                }


            }
        }
    }
}

.home,
.crp_related {

    /*  ===== Articles ========================= */
    .article-grid {
        display: flex;
        flex-wrap: wrap;
        gap: var(--sp-home-gap);

        .article-item {
            width: calc(33.333% - (2*(var(--sp-home-gap)))/3);
            margin-bottom: calc(var(--sp-xlarge) - var(--sp-home-gap));
            ;
        }



        a:hover h3,
        a:active h3 {
            color: var(--cl-lightpurple-hover);
        }

        a:hover .crp_title,
        a:active .crp_title {
            color: var(--cl-lightpurple-hover);

        }
    }






    .article-item,
    li.job_listing {

        h3,
        .crp_title {
            font-size: var(--fs-body);
            line-height: var(--lh-body);
            font-weight: var(--fw-semibold);
            padding: 0 var(--sp-xsmall) var(--sp-small) var(--sp-xsmall)
        }

        .longer-read {
            color: var(--cl-dark);
            position: absolute;
            margin-top: 12px;
            margin-left: 12px;
            width: fit-content;
            background: var(--cl-light);
            border-radius: 6px;
            padding-left: 6px;
            padding-right: 6px;
            z-index: 2;
        }

    }



    /* .article-item {

        &:active,
        &:hover {

            a {
                color: var(--cl-light);
            }
        }

    }*/
}

/* === YMAL only === */

.crp_related {



    .article-item {

        a:hover .crp_title,
        a:active .crp_title {
            color: var(--cl-purple);
        }


        .crp_title {
            display: block;
        }

    }


}





/* .article-item {

    &:active,
    &:hover {

        a {
            color: var(--cl-light);
        }
    }

} */




/* ======= Focus on ===== */

section.hero-post,
section.focus-on,
section.longer-reads {
    margin-bottom: 100px;

    h2 {

        margin-top: -60px;

    }
}

section.hero-post,
section.focus-on,
section.longer-reads,
section.homepage-jobs-wrapper {
    margin-top: 60px;
}

section.hero-post,
section.focus-on,
section.longer-reads,
section.homepage-events-wrapper,
section.homepage-jobs-wrapper {
    display: flex;
    flex-direction: column;



    h2 {
        font-size: 60px;
        margin-bottom: var(--sp-home-gap);
        margin-left: -5px;
    }

    a:link,
    a:visited {
        color: var(--cl-dark);
    }

    a:hover,
    a:active {
        h3 {
            color: var(--cl-purple-hover);
        }

        .home-article-image {
            filter: brightness(75%);
        }
    }


    .focus-posts-grid,
    .longer-reads-grid,
    .jobs-homepage-grid {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--sp-home-gap);
    }


}

section.homepage-events-wrapper a:hover h3,
section.homepage-events-wrapper a:active h3 {
    color: var(--cl-dark);
}

section.hero-post,
section.focus-on,
section.longer-reads,
section.homepage-events-wrapper,
section.homepage-jobs-wrapper {
    padding: var(--sp-medium);

}

section.hero-post,
section.focus-on,
section.longer-reads,
section.homepage-events-wrapper {
    h2 {

        a:link,
        a:visited {
            color: var(--cl-light);
        }

        a:hover,
        a:active {
            color: var(--cl-light-75);
        }
    }

}

section.homepage-jobs-wrapper {

    margin: 0 var(--sp-neg-medium);

    h2 {

        a:link,
        a:visited {
            color: var(--cl-orange);
        }

        a:hover,
        a:active {
            opacity: var(--op-light);
        }
    }

    li.job_listing,
    .article-item {

        &:active,
        &:hover {
            .home-article-image {
                filter: brightness(90%);
            }
        }

    }
}

section.homepage-events-wrapper {
    padding-top: 84px;
}


section.hero-post {
    background-color: var(--cl-light);

    h2 {
        color: var(--cl-light);
    }
}

section.longer-reads {
    background-color: var(--cl-light);

    h2 {
        color: var(--cl-light);
    }
}

section.focus-on {

    background-color: var(--cl-light);

    h2 {
        color: var(--cl-light);
    }


}



section.homepage-jobs-wrapper {
    padding: var(--sp-medium);
    background-color: var(--cl-light);

    .homepage-jobs {
        margin-top: var(--sp-medium);
        width: 100%;

        h2 {
            color: var(--cl-orange);
            margin-bottom: var(--sp-large);
        }

        article.job_listing {
            margin-bottom: 0;
        }

        .edp-jobs-promo--home {
            height: 100%;
        }
    }
}

/* article widths ==== */

.focus-on.edp-bold-posts-4 .article-item,
.jobs-homepage-grid.edp-bold-posts-4 .article-item {
    width: calc(25% - (3*(var(--sp-home-gap)))/4);
}

.focus-on.edp-bold-posts-3 .article-item,
.jobs-homepage-grid.edp-bold-posts-3 .article-item,
.jobs-homepage-grid.edp-bold-posts-2 .article-item,
.jobs-homepage-grid.edp-bold-posts-3 .article-item {
    width: calc(33.333% - (2*(var(--sp-home-gap)))/3);
}

/* jobs is the same for 2 and 3 because we replace #3 with a link */

.focus-on.edp-bold-posts-2 .article-item,
.longer-reads.edp-bold-posts-2 .article-item {
    width: calc(50% - ((var(--sp-home-gap)))/2);
}



/* ======= Events ===== */

.homepage-events-wrapper {
    background-color: var(--cl-dark);



    .homepage-events {
        margin-bottom: 60px;

        h2 {
            color: var(--cl-light);
            margin-bottom: var(--sp-large);
        }
    }

    .edp-events-calendar-list {
        display: flex;
        flex-wrap: wrap;

        gap: var(--sp-home-gap);

        .edp-events-calendar-list__event-row-wrapper {
            display: flex;
            width: 100%;
            gap: var(--sp-home-gap);

            .edp-events-calendar-list__event-row {
                width: calc(50% - ((var(--sp-home-gap)))/2);


                .edp-event-title-and-meta {
                    display: flex;
                    width: 100%;
                    flex-direction: column;



                    .edp-events-calendar-list__event-header {
                        margin-right: 0;

                        .edp-events-calendar-list__event-title {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                        }

                    }

                    .edp-events-calendar-list__event-meta {
                        padding-top: 0;

                        .epd-events-calendar-list__event-venue {
                            margin-bottom: 0;
                        }
                    }

                }
            }
        }
    }

}



.home-divider {
    height: 75px;
    width: 100%;
    background-image: url(../../images/edpsy-swirls-21.svg);
    background-size: cover;
    background-position: center;

    &.home-divider--jobs-events {
        margin-bottom: 100px;
    }

}

body {

    &.home .article-item,
    /* home */
    &.home li.job_listing,
    /* home - jobs */
    &.archive article.type-post.has-post-thumbnail,
    /* Archive pages */
    .crp_related {


        .home-article-image,
        .archive-article-img,
        .crp_featured {
            width: 100%;
            aspect-ratio: 2 / 1;
            overflow: hidden;
            align-content: center;
            justify-content: center;
            margin-bottom: var(--sp-small);
            border-radius: var(--rd-large);
        }

        &.job-summary .home-article-image,
        .job-summary .home-article-image {
            text-align: center;
            border: solid 1px var(--cl-dark-50);
            background-color: var(--cl-light);
            border-radius: var(--rd-large);


            .crp_job_logo {
                object-fit: contain;
                width: 80%;
                height: 80%;

            }
        }

        img.wp-post-image,
        img.crp_thumb:not(.crp_job_logo) {

            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: var(--rd-large);




        }

        img.crp_thumb.crp_job_logo {
            margin-bottom: 0;
        }
    }

}