@import url('variables.css');

/* ==== Job listing page ==================================== */

.edp-jobs.job-listings-page {
    #container {
        background-color: var(--cl-jobs-primary);
    }

    .entry-content {
        grid-template-columns: repeat(12, 1fr);
        display: grid;
        grid-column-gap: 24px;
        max-width: var(--lv-full-width);

        +* {
            grid-column: 2 / span 10;
        }

        .job_filters {
            display: none;
        }

        div.job_listings {
            grid-column: 2 / span 10;
            margin-bottom: var(--sp-xlarge);
        }


        .no_job_listings_found-text {
            font-size: var(--fs-display-small);
            font-weight: var(--fw-semibold);
            line-height: var(--lh-display-small);
            color: var(--cl-light);
            text-align: center;
            margin-bottom: 50px;
        }

        ul.job_listings {
            li {
                padding-left: 0;

                a {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-column-gap: 24px;
                    background-color: var(--cl-light);
                    min-height: var(--lv-listing-height);
                    margin-bottom: var(--sp-medium);
                    align-items: center;


                    &:hover {
                        opacity: var(--op-light);
                        box-shadow: none;
                    }

                    .job-listing-logo {
                        grid-column: 1 / span 2;
                        padding: var(--sp-small) 0 var(--sp-small) var(--sp-small);
                        justify-content: center;
                        align-content: center;
                        display: flex;


                        img {
                            max-width: 80%;
                            height: auto;
                            max-height: calc(var(--lv-listing-height) - (2* var(--sp-small)));
                        }
                    }

                    .job-listing-details {
                        grid-column: 3 / span 5;
                        padding: var(--sp-small) 0;


                        .job-title h2 {
                            font-size: var(--fs-title-small);
                            color: var(--cl-dark);
                            font-weight: var(--fw-semibold);
                            padding-bottom: var(--sp-small);
                        }

                        .company {
                            font-size: var(--fs-body);
                            color: var(--cl-dark);
                            font-weight: var(--fw-medium);
                        }

                    }

                    .job-listing-meta {
                        grid-column: 8 / span 3;
                        background-color: var(--cl-dark);
                        color: var(--cl-light);
                        padding: var(--sp-small) 0 var(--sp-small) var(--sp-medium);
                        height: 100%;
                        align-content: center;
                    }

                }
            }
        }
    }


    /* viewport-specific rules moved to parts/viewport.css */
}

/* ==== Preview ====== */

.edpsybold.edp-jobs.add-job #container.edp-fullwidth .job_listing_preview article.type-job_listing {
    background-color: var(--cl-light);
    border: solid 3px var(--cl-dark);
    padding-bottom: var(--sp-large);

    h2 {
        color: var(--cl-dark);
        font-size: var(--fs-title-medium);
        margin: 0;
    }

}


/* ==== Admin area ==================================== */

.wpbdp-notice.wpbdp-upgrade-bar.wpbdp-inline-notice {
    display: none;
}


/* ==== Post job ==================================== */

body>.job-manager-error {
    display: none;
}

.edpsybold.edp-jobs.add-job #container.edp-fullwidth {

    .form-block.edpjobs-signin {
        display: flex;
        padding-bottom: var(--sp-medium);
        margin-bottom: var(--sp-medium);

        .fieldset-login_required {
            min-width: 150px;
            margin-top: var(--sp-small);
            border-right: solid 4px var(--cl-jobs-primary);
            margin-left: var(--sp-medium);
        }

        fieldset.account-sign-in-field {
            display: block;
        }

        .edp-jobs-createaccount {
            margin-top: var(--sp-medium);
            margin-left: var(--sp-xxlarge);
        }

        .option-block-or {
            float: right;
            margin-right: -19px;
            padding: 0 6px 3px 6px;
            margin-top: -53px;
            font-size: 18px;
            background: var(--cl-light);
            border-radius: 20px;
            border: var(--cl-jobs-primary) 2px solid;
            font-weight: 500;
        }

        .fieldset-logged_in .option-block-or {
            display: none;
        }
    }

    p.new-job-warning,
    div.job-manager-error,
    .job-manager-info {
        background-color: var(--cl-dark);
        color: var(--cl-light);
        padding: var(--sp-large) var(--sp-large) var(--sp-large) var(--sp-xlarge);

        a {
            background-color: var(--cl-light);
            padding: 0 var(--sp-xsmall);
        }
    }

    .fieldset-logged_in {
        padding-left: var(--sp-small);
        padding-right: var(--sp-medium);
        width: 100%;

        .field.account-sign-in {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        p.signout-button {
            margin: 0;
        }
    }

    .signin-text {
        padding-top: var(--sp-medium);
    }

    .job-manager-uploaded-files {
        margin: var(--sp-medium) 0;

        .job-manager-uploaded-file-preview {
            display: flex;
            gap: var(--sp-small);
            align-items: flex-end;
        }
    }

    /*form#stripe-checkout-form {

        .option-cols {
            display: flex;

            gap: var(--sp-home-gap);

            .option-col1,
            .option-col2,
            .fieldset-stripe_payment {
                background-color: var(--cl-light);
            }
        }

    }*/


}

/* ============== IMPORTED ================= */
.edpsybold.edp-jobs.add-job #container.edp-fullwidth .category-jobs-admin form#stripe-checkout-form {
    .option-cols {
        display: flex;
        margin-bottom: 3rem;
        background-color: var(--cl-light);
    }

    .option-col1,
    .option-col2 {
        padding: var(--sp-small) var(--sp-large) var(--sp-large) var(--sp-large);

        h2 {
            font-size: var(--fs-title-medium);
            color: var(--cl-dark);
        }
    }

    .option-col1 {
        border-right: solid 4px var(--cl-jobs-primary);
        width: 60%;
    }

    .option-col2 {
        width: 40%
    }

    .job_listing_stripe_checkout_form fieldset label {
        padding-bottom: 0.55rem;
        margin-top: 0;
    }

    .fieldset-stripe_payment.fieldset-type-text .item-cost {
        margin-left: 1rem
    }

    input[type="text"]#stripe-cardholder-name {
        height: 40px;
        width: 100%;
    }

    .StripeElement {
        border: 1px solid var(--cl-dark);
        border-radius: 0;
        margin: 0;
        box-shadow: none;
        background-color: var(--cl-light);
    }

    .stripe-badge {
        margin-left: 1rem;
        margin-top: 0.2rem;
        position: absolute;
    }

    .option-block-top-text {
        padding-top: 0.75rem;
    }

    fieldset {
        align-items: center;
        padding-right: var(--sp-small);

        &.fieldset-name {
            margin-bottom: 0;
        }

        .job-details-block {
            display: flex;
            width: 100%;
            justify-content: center;
            padding: var(--sp-medium);
            margin: 1rem 0;
            background: var(--cl-light);
            align-items: center;

            label.job-listing {
                padding-top: 0;
                width: 100%;
                text-align: right;
            }
        }

    }

    .payment-details-name-description {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 50%;
    }

    .job-details-block div:nth-child(2) {
        width: 50%
    }

    fieldset .job-details-block label:not(.full-line-checkbox-field label),
    fieldset .job-details-block .field {

        width: 50%;
        text-align: right;
        padding-right: 30px;
    }

    fieldset label:not(.full-line-checkbox-field label) {
        width: 70%;
        padding: 0 0 0 var(--sp-small);

    }

    fieldset div.field:not(.full-line-checkbox-field) {
        width: 90%;
    }



    .option-block-or {
        float: right;
        margin-right: -55px;
        padding: 0 6px 3px 6px;
        margin-top: -10rem;
        font-size: 18px;
        background: var(--cl-light);
        border-radius: 20px;
        border: var(--cl-jobs-primary) 2px solid;
        font-weight: 500;
    }

    .item-cost {
        font-size: 2rem;
        margin-left: 3rem;
    }

    h2 {
        line-height: 2rem;
        margin-top: 2rem;
    }
}

/* viewport-specific rules moved to parts/viewport.css */

.edpsybold #container.edp-fullwidth .category-jobs {

    ul.fa-features li i,
    ul.fa-features li svg {
        color: var(--cl-jobs-dark);
        padding-top: 0.3rem;
    }

    ul.fa-features li.fali {
        margin-bottom: 2rem;
        list-style-type: none;

    }

    ul.fa-features li ul li {
        margin-bottom: 0;
    }

    ul.fa-features {
        margin: var(--sp-medium) var(--sp-xxlarge) 0 var(--sp-xxlarge);
        position: relative;

    }

    .fa-ul {
        padding-left: 0;

        >li {
            position: relative;
        }
    }

    .fa-li {
        left: -62px;
        position: absolute;
        text-align: center;
        width: 50px;
        line-height: inherit;
    }
}

/* Payments success page */

.edpsybold.edp-jobs.add-job #container.edp-fullwidth .category-jobs-admin .job-manager-message {

    display: flex;
    background-color: var(--cl-light);
    margin-bottom: 30%;
    margin-top: var(--sp-large);

    h2 {
        color: var(--cl-dark);
        margin-top: 0;
    }

    .success-icon {
        margin-top: var(--sp-small-plus);
        margin-left: var(--sp-medium);
    }

}

.success-icon {
    margin-top: 2rem;
}

.success-message {
    margin: 2rem 2rem 0.5rem 2rem
}

.success-message h2 {
    margin-top: 0;
}

/* Dashboard */

#job-manager-job-dashboard td.company {
    vertical-align: middle;

    img {
        max-width: 150px;
        max-height: 120px;
    }

}

#content .job-manager-uploaded-file-preview img {
    max-width: 280px;
}

#job-manager-job-dashboard th.stats,
#job-manager-job-dashboard td.stats {
    display: none;
}



.wpjm-dashboard .job-post-promo,
.wpjm-dashboard .progressbar-container {
    display: none;
}

#job-manager-job-dashboard table td,
#job-manager-job-dashboard table th {
    padding: 1rem;
    border: none;
}

#job-manager-job-dashboard table tr {
    border-top: solid 1px rgba(0, 0, 0, .12);
}

#job-manager-job-dashboard table {
    border: 1px solid rgba(0, 0, 0, .12);
}

table.job-manager-jobs th.filled,
table.job-manager-jobs td.filled {
    display: none;
}

table.job-manager-jobs th,
#content table.job-manager-jobs tr td,
#job-manager-job-dashboard table .applications,
#job-manager-job-dashboard table .expires,
#job-manager-job-dashboard table .filled {
    text-align: left;
}

#job-manager-job-dashboard table thead {
    background-color: rgba(0, 0, 0, .04);
}

#job-manager-job-dashboard table tbody tr:hover {
    outline: solid 1px rgba(0, 0, 0, .04);
    background-color: rgba(0, 0, 0, 0.01);
}

#job-manager-job-dashboard table ul.job-dashboard-actions li:after {
    content: "|";
    color: var(--cl-dark);
}

table.job-manager-jobs .job_title small {
    border: #999 solid 1px;
    color: #999;
    padding: 0.05rem 0.3rem;
    margin-left: 0.5rem;
    font-weight: 400;
    font-size: 0.8rem;
    min-width: 20%;
    text-align: center;
}

table.job-manager-jobs .job-title a,
.dashboard-job-title {
    font-weight: 300;
}

#job-manager-job-dashboard table ul.job-dashboard-actions li {
    font-weight: 300;
}

#job-manager-job-dashboard table.job-manager-jobs .job_title small.dashboard-live {
    background-color: rgb(171, 96, 96);
    color: red;
}

table.job-manager-jobs .job_title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

table.job-manager-jobs ul.job-dashboard-actions {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

#job-manager-job-dashboard table ul.job-dashboard-actions li .job-dashboard-action-delete {
    color: red
}
