@import url('variables.css');

/* ==== Job listing page ==================================== */

.edp-jobs.job-listings-page {
    #container {
        background-color: var(--cl-jobs-primary);
    }

    .entry-content {
        grid-template-columns: repeat(12, 1fr);
        display: grid;
        grid-column-gap: 24px;
        max-width: var(--lv-full-width);

        +* {
            grid-column: 2 / span 10;
        }

        .job_filters {
            display: none;
        }

        div.job_listings {
            grid-column: 2 / span 10;
            margin-bottom: var(--sp-xlarge);
        }

        ul.job_listings {
            li {
                padding-left: 0;

                a {
                    display: grid;
                    grid-template-columns: repeat(10, 1fr);
                    grid-column-gap: 24px;
                    background-color: var(--cl-light);
                    min-height: var(--lv-listing-height);
                    margin-bottom: var(--sp-medium);
                    align-items: center;


                    &:hover {
                        opacity: var(--op-light);
                        box-shadow: none;
                    }

                    .job-listing-logo {
                        grid-column: 1 / span 2;
                        padding: var(--sp-small) 0 var(--sp-small) var(--sp-small);
                        justify-content: center;
                        align-content: center;
                        display: flex;


                        img {
                            max-width: 80%;
                            height: auto;
                            max-height: calc(var(--lv-listing-height) - (2* var(--sp-small)));
                        }
                    }

                    .job-listing-details {
                        grid-column: 3 / span 5;
                        padding: var(--sp-small) 0;


                        .job-title h2 {
                            font-size: var(--fs-title-small);
                            color: var(--cl-dark);
                            font-weight: var(--fw-semibold);
                            padding-bottom: var(--sp-small);
                        }

                        .company {
                            font-size: var(--fs-body);
                            color: var(--cl-dark);
                            font-weight: var(--fw-medium);
                        }

                    }

                    .job-listing-meta {
                        grid-column: 8 / span 3;
                        background-color: var(--cl-dark);
                        color: var(--cl-light);
                        padding: var(--sp-small) 0 var(--sp-small) var(--sp-medium);
                        height: 100%;
                        align-content: center;
                    }

                }
            }
        }
    }


    @media screen and (max-width: 600px) {
        .entry-content {

            +* {
                grid-column: 1 / span 12;
            }


            div.job_listings {
                grid-column: 1 / span 12;
                margin-top: var(--sp-large);

                li a {

                    .job-listing-logo,
                    .job-listing-meta,
                    .job-listing-details {
                        grid-column: 1 / span 12;
                        padding-left: var(--sp-small);
                        padding-right: var(--sp-small);

                        .job-title h2 {
                            font-size: var(--fs-body);
                            line-height: var(--lh-body);
                            font-weight: var(--fw-medium);
                            padding-bottom: var(--sp-xxsmall);
                        }

                        .company {
                            font-weight: var(--fw-extralight);
                        }
                    }



                }
            }

        }

    }



    /* ==== Admin area ==================================== */

    .wpbdp-notice.wpbdp-upgrade-bar.wpbdp-inline-notice {
        display: none;
    }