@import url('variables.css');

.edp-fullwidth {
    width: 100%;

}

.edp-pagewidth {
    width: var(--lv-full-width);
    margin: 0 max(4vw, var(--sp-small));
}



.grid12 {
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    grid-column-gap: 24px;
    max-width: var(--lv-full-width);
    margin: 0 auto;

    >* {
        grid-column: 2 / span 10;
    }

    /* Jobs listing page */
    :is(article.page) {
        grid-column: 1 / span 12;
    }


    #site-title {
        grid-column: 1 / span 2;
    }

    nav.top-nav-menu {
        grid-column: 3 / span 10;
    }
}

/* Blog list page */
.archive .grid12 {
    :is(article.post) {
        grid-column: 3 / span 8;
    }

    header {
        grid-column: 1 / span 12;


    }
}

.post-type-archive-tribe_events .tribe-events-view--month {
    grid-column: 1 / span 12;
}


/* Footer */

.footer-container.grid12>img {
    grid-column: 1 / span 3;
}

.span10 {
    grid-column: 2 / span 10;
}

.span8 {
    grid-column: 3 / span 8;
}

/*
.span12 {
    grid-column: 1 / span 12;
    grid-template-columns: subgrid;
    display: grid;
}
.span10 {
    width: max(90vw, var(--gs-10));
}

.span8 {
    width: max(90vw, var(--gs-8));
} 
.span10 {
    grid-column: 2 / span 10;
    grid-template-columns: subgrid;
}

.span8 {
    grid-column: 3 / span 8;
}
    */