@import url('variables.css');

header[role="banner"] {
    .grid12 {
        align-items: center;
    }

    border-bottom: 1px solid var(--cl-dark);

    h1 {
        line-height: 0;
    }

    .header-logo-wrapper {
        display: inline-block;
        /* or display: block; */


    }

    .header-logo-wrapper img {
        display: block;
        /* optional: removes leftover baseline gap */
    }

    .header-logo {
        width: 48px;
        margin: var(--sp-small) 0
    }

    a:hover .header-logo {
        opacity: var(--op-light);
    }

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }



    nav.top-nav-menu {
        height: 100%;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            >li {

                position: relative;
                font-size: var(--fs-body-small);
                font-weight: var(--fw-semibold);
                color: var(--cl-dark);
                cursor: pointer;
                transition: background-color 0.3s;
                display: flex;

                a {
                    color: var(--cl-dark);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: var(--sp-xsmall);
                    padding: var(--sp-medium);
                    padding-right: calc(var(--sp-medium) + 2px);
                    padding-bottom: calc(var(--sp-medium) - 2px);
                    border-bottom: 3px solid var(--cl-light);
                }

                .submenu-wrapper {
                    display: flex;
                    width: 100%;
                }

                &.current-menu-parent a,
                & a:hover,
                &.current-menu-item a {

                    border-bottom: 3px solid var(--cl-dark);
                }

                ul.sub-menu {
                    display: none;
                    flex-direction: column;
                    width: max-content;
                    min-width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                &.submenu-open>ul.sub-menu {
                    display: flex;
                }



                button.submenu-toggle {
                    display: none;
                    font-size: 1.3rem;
                    background: none;
                    border: none;
                    padding: 0 var(--sp-medium);
                    cursor: pointer;
                    border-left: 1px solid var(--cl-dark);

                    &:is(:hover, :active) {
                        background-color: var(--cl-lightpurple-hover);
                    }
                }
            }
        }



    }

}

body {
    .backblock {
        padding-top: var(--sp-small);
        padding-bottom: var(--sp-small);

        a {
            border-radius: var(--rd-small);
            margin-left: -8px;

            padding: 2px var(--sp-xsmall);

            &:hover,
            &:focus {
                background-color: var(--cl-light-15);
            }

        }
    }
}

/* === Home ============== */

.home {

    header[role="banner"] {
        border-bottom: none;

        .header-logo-wrapper {

            padding: var(--sp-small) 0;

            &:hover,
            &:active {
                .header-logo {
                    opacity: 1;
                }
            }

            .header-logo {
                width: 110px;
                background-color: var(--cl-light);
                padding: var(--sp-small-plus);
                margin: 0;
            }
        }
    }
}

/* === Blog ================ */

/* --- Blog page single -------- */

.single-post {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-light);
        border-top: 1px solid var(--cl-dark);
        border-bottom: 1px solid var(--cl-dark);



        a {
            color: var(--cl-dark);

            &:hover {
                color: var(--cl-dark);
                background-color: var(--cl-lightpurple-hover);
            }
        }
    }

}

/* === Events ================ */

/* --- Events listing -------- */

.post-type-archive-tribe_events {
    header[role="banner"] {
        border-bottom: none;
    }


}

/* --- Single event -------- */

.single-tribe_events {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-events-primary);

        a {
            color: var(--cl-light);

            &:hover {
                color: var(--cl-light);

            }
        }
    }

}

/* === Jobs ================ */

/* --- Jobs listing -------- */

.job-listings-page {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }


}

/* --- Job ad -------------- */

.single-job_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-jobs-primary);

        a {
            color: var(--cl-light)
        }
    }

}


/* === Thesis ================ */

.wpbdp-view-main {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }
}

/* --- Thesis  -------- */

.single-wpbdp_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-lightblue);

        a {
            color: var(--cl-light)
        }
    }

}


/* ---- listing footer nav ---- */
.navigation.posts-navigation {
    margin-bottom: var(--sp-xxxlarge);

    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}





@media screen and (min-width: 760px) {
    header[role="banner"] nav.top-nav-menu {
        ul>li {
            ul.sub-menu {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: var(--cl-light);
                z-index: 1000;
                min-width: 100%;
                width: max-content;
                align-items: flex-start;
                border: 1px solid var(--cl-dark);

                .menu-item-has-children:last-of-type & {
                    right: 0;
                    left: inherit;
                }

                li {
                    width: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        width: auto;
                        min-width: 100%;
                        white-space: nowrap;
                        border: none;
                        height: 27px;

                        &:hover,
                        &:active {
                            background-color: var(--cl-lightpurple-hover);
                            border: none;
                        }
                    }
                }
            }


        }

        /* Only open first-level dropdowns on hover (desktop) */
        >ul>li:hover>ul.sub-menu {
            display: flex;
        }

        /* Do not auto-open deeper levels on hover (desktop) */
        ul ul.sub-menu {
            display: none;
        }

        /*  &:hover>ul.sub-menu {
        display: flex;
    }*/
    }
}


@media screen and (max-width: 700px) {
    header[role="banner"] {
        .menu-toggle {
            display: block;
            grid-column: 12 / span 1;
        }

        nav.top-nav-menu {
            grid-column: 1 / span 12;
            margin-right: -24px;
            margin-left: -24px;

            ul {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                display: none;

                li {
                    width: 100%;

                    .submenu-wrapper {
                        width: 100%;
                    }
                }
            }

            &.open>ul,
            &.open>ul>.open ul {
                display: flex;

                margin-bottom: var(--sp-medium);

                >li {


                    .submenu-wrapper {
                        display: flex;
                    }

                    a,
                    .submenu-wrapper a {
                        width: 100%;
                        padding: var(--sp-small) var(--sp-small) var(--sp-small) var(--sp-medium);
                        border-bottom: none;
                    }

                    a:hover,
                    &.current-menu-parent a,
                    &.current-menu-item a {
                        border-bottom: none;

                    }

                    a:hover {
                        background-color: var(--cl-lightpurple-hover);
                    }

                    &.current_page_parent>a:first-of-type,
                    &.current_page_item>a:first-of-type,
                    &.current-menu-item>a:first-of-type,
                    &.current-menu-item>div>a:first-of-type,
                    &.current_page_item>div>a:first-of-type,
                    &.current_page_parent>div>a:first-of-type,
                    .current-menu-item a:first-of-type {
                        color: var(--cl-purple);
                    }

                    /*  &.current-menu-parent a::before,
                    &.current-menu-item a::before {
                        content: '⏺';
                        margin-left: -20px;
                        margin-right: 10px;

                    
                    }*/


                    &.menu-item-object-page,
                    .menu-item-object-page {
                        display: flex;
                        flex-direction: column;
                    }

                    button.submenu-toggle {
                        display: inline-block;
                    }

                    ul.sub-menu {
                        padding-left: var(--sp-medium);

                    }
                }
            }
        }
    }
}