@import url('variables.css');

header[role="banner"] {
    .grid12 {
        align-items: center;
    }

    border-bottom: 1px solid var(--cl-dark);

    h1 {
        line-height: 0;
    }

    .header-logo-wrapper {
        display: inline-block;
        /* or display: block; */


    }

    .header-logo-wrapper img {
        display: block;
        /* optional: removes leftover baseline gap */
    }

    .header-logo {
        width: 48px;
        margin: var(--sp-small) 0
    }

    a:hover .header-logo {
        opacity: var(--op-light);
    }

    .menu-toggle {
        display: none;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }



    nav.top-nav-menu {
        height: 100%;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none;

            >li {

                position: relative;
                font-size: var(--fs-body-small);
                font-weight: var(--fw-semibold);
                color: var(--cl-dark);
                cursor: pointer;
                transition: background-color 0.3s;
                display: flex;

                a {
                    color: var(--cl-dark);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    gap: var(--sp-xsmall);
                    padding: var(--sp-medium);
                    padding-right: calc(var(--sp-medium) + 2px);
                    padding-bottom: calc(var(--sp-medium) - 2px);
                    border-bottom: 3px solid var(--cl-light);
                }

                .submenu-wrapper {
                    display: flex;
                    width: 100%;
                }

                &.current-menu-parent a,
                & a:hover,
                &.current-menu-item a {

                    border-bottom: 3px solid var(--cl-dark);
                }

                ul.sub-menu {
                    display: none;
                    flex-direction: column;
                    width: max-content;
                    min-width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                &.submenu-open>ul.sub-menu {
                    display: flex;
                }



                button.submenu-toggle {
                    display: none;
                    font-size: 1.3rem;
                    background: none;
                    border: none;
                    padding: 0 var(--sp-medium);
                    cursor: pointer;
                    border-left: 1px solid var(--cl-dark);

                    &:is(:hover, :active) {
                        background-color: var(--cl-lightpurple-hover);
                    }
                }
            }
        }



    }

}

body {
    .backblock {
        padding-top: var(--sp-small);
        padding-bottom: var(--sp-small);

        a {
            border-radius: var(--rd-small);
            margin-left: -8px;

            padding: 2px var(--sp-xsmall);

            &:hover,
            &:focus {
                background-color: var(--cl-light-15);
            }

        }
    }
}

/* === Home ============== */

.home {

    header[role="banner"] {
        border-bottom: none;

        .header-logo-wrapper {

            padding: var(--sp-small) 0;

            &:hover,
            &:active {
                .header-logo {
                    opacity: 1;
                }
            }

            .header-logo {
                width: 110px;
                background-color: var(--cl-light);
                padding: var(--sp-small-plus);
                margin: 0;
            }
        }
    }
}

/* === Blog / page ================ */

/* --- Blog / page single -------- */

.single-post,
.edp-parent-mentoring,
.edp-parent-interest-groups {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-light);
        border-top: 1px solid var(--cl-dark);
        border-bottom: 1px solid var(--cl-dark);



        a {
            color: var(--cl-dark);

            &:hover {
                color: var(--cl-dark);
                background-color: var(--cl-lightpurple-hover);
            }
        }
    }

}

/* === Events ================ */

/* --- Events listing -------- */

.post-type-archive-tribe_events {
    header[role="banner"] {
        border-bottom: none;
    }


}

/* --- Single event -------- */

.single-tribe_events {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-events-primary);

        a {
            color: var(--cl-light);

            &:hover {
                color: var(--cl-light);

            }
        }
    }

}

/* === Jobs ================ */

/* --- Jobs listing -------- */

.job-listings-page {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }


}

/* --- Job ad -------------- */

.single-job_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-jobs-primary);

        a {
            color: var(--cl-light)
        }
    }

}


/* === Thesis ================ */

.wpbdp-view-main {
    header[role="banner"] {
        border-bottom: var(--cl-light);
    }
}

/* --- Thesis  -------- */

.single-wpbdp_listing {

    header[role="banner"] {
        border-bottom: none;
    }

    .backblock {
        background-color: var(--cl-lightblue);

        a {
            color: var(--cl-light)
        }
    }

}


/* ---- listing footer nav ---- */
.navigation.posts-navigation {
    margin-bottom: var(--sp-xxxlarge);

    .nav-links {
        display: flex;
        justify-content: space-between;
    }
}



/* viewport-specific rules moved to parts/viewport.css */