/* Standard page (single.php)
also basis for: jobs page (single-job_listing.php) / events page content / Blog post / Thesis page */

.page-template-default:not(.job-listings-page) article.type-page,
article.job_listing,
article.tribe-events-single,
body:not(.home) article.type-post,
article.type-wpbdp_listing {

    margin-bottom: var(--sp-xxlarge);
}

.page-template-default:not(.job-listings-page) article.type-page,
article.job_listing,
article.tribe-events-single,
body:not(.home) article.type-post,
article.type-wpbdp_listing,
.tribe-events-pg-template,
.edp-jobs.add-job,
.post-type-archive-tribe_events {

    .entry-content img.wp-post-image {
        width: 100%;
        height: auto;
        margin-bottom: var(--sp-medium);
        border-radius: var(--rd-large);


    }

    /*=== WP blocks */

    .wp-block-media-text__media img {
        border-radius: var(--rd-large);
    }


    .is-stacked-on-mobile figure {
        align-self: flex-start;
        margin-bottom: var(--sp-medium);
    }

    .wp-block-columns-is-layout-flex {
        gap: var(--sp-home-gap);
    }

    .wp-block-image {
        margin-bottom: var(--sp-medium);

        figure.alignright {
            margin-left: var(--sp-medium);
        }
    }

    ul.fa-ul {
        margin-left: var(--sp-small);

        li {
            list-style-type: none;
        }
    }


    .entry-content,
    .job_description,
    .tribe-events-content,
    .edp-thesis-abstract,
    .category-jobs-admin,
    fieldset.fieldset-cap_declaration,
    .events-promo,
    .category-jobs-admin,
    .event-disclaimer {

        ul {
            margin-left: var(--sp-medium);

            li {
                list-style-type: disc;
                margin-left: var(--sp-medium);
                margin-bottom: var(--sp-xsmall);

            }
        }

        ol {
            margin-left: var(--sp-medium);

            li {
                list-style-type: decimal;
                margin-left: var(--sp-medium);

            }
        }

        p,
        ul,
        ol {
            margin-bottom: var(--sp-medium);
        }



        h2,
        h3 {
            margin-bottom: var(--sp-small);
        }

        blockquote {

            border-left: 6px solid var(--cl-primary);
            padding-left: var(--sp-medium);
            margin-bottom: var(--sp-medium);
            margin-left: var(--sp-medium);
        }

        img.img-half-max.alignleft {
            width: 50%;
            max-width: 300px;
            float: left;
            height: auto;
            margin-right: var(--sp-medium);
            margin-bottom: var(--sp-medium);
            border-radius: var(--rd-large);
        }

        img {
            height: auto;
            margin: 0;
            max-width: 100%;
        }


    }

    /* for the bio block */
    h2.author-title {
        margin-bottom: var(--sp-medium);
    }

    .crp_related {
        h2 {
            margin-bottom: var(--sp-large);

        }

        /* viewport-specific rules moved to parts/viewport.css */


    }
}

.page-template-default {

    &.page-id-5008,
    &.page-id-5006,
    &.page-id-5010,
    &.page-id-13601,
    &.page-id-13702,
    &.page-id-13632 {

        /* Arabic / Urdu */
        & :lang(ur),
        & :lang(ar) {
            font-family: Arial, sans-serif;
        }

        /* English */
        & div:lang(en),
        & h2:lang(en),
        & h3:lang(en) {
            font-family: var(--ff);
        }
    }
}

/* ---- Blog post only ----- */

article.type-post {

    .entry-content .content-body>p:first-of-type {
        font-size: var(--fs-title-small);
        line-height: var(--lh-title-small);
        margin-bottom: var(--sp-medium);
    }


}


/* ----- Special pages -----

.page-id-10134,
.page-id-2 {
    #container {
        background-size: 250px;
        background-position: right -1px;
        background-repeat: no-repeat;

        article.type-page {
            background-color: var(--cl-light-50);
            margin-right: var(--sp-neg-medium)
        }
    }
}

.page-id-10134,
.page-id-2 {
    #container {
        background-image: url(../../images/edpsy-swirls-30.svg);
    }
}

.page-id-2 {
    #container {
        background-image: url(../../images/edpsy-swirls-16-rh.svg);
    }
}*/