/* ==== Job / Thesis / event single page ==================================== */

.edp-jobs.single-job_listing,
.single-tribe_events,
.single-wpbdp_listing {

    article.type-job_listing,
    article.type-tribe_events,
    article.type-wpbdp_listing {
        header {


            .entry-title,
            .tribe-events-single-event-title {
                margin-bottom: var(--sp-small);
            }

            .edp-wpbdp-name {
                font-size: var(--fs-title-large);
                font-weight: var(--fw-semibold);
                line-height: var(--lh-title-large);
            }

            .company,
            .edp-event-date-time,
            .edp-event-cost,
            .edp-event-location,
            .edp-event-on-demand,
            .wpbdp-year-inst-block {
                font-size: var(--fs-title-medium);
                font-weight: var(--fw-semibold);
                line-height: var(--lh-title-large);
            }

        }

        .meta-slice {


            .meta-img-l {
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            .job-listing-meta,
            .edp-thesis-meta,
            .event-listing-meta {

                margin: var(--sp-medium) 0;

                .meta-item,
                .wpbdp-field-display {
                    display: flex;
                    padding: 0 var(--sp-medium);

                    .label,
                    .field-label {
                        min-width: 180px;
                        text-align: right;
                        padding-right: var(--sp-medium);
                        border-right: 1px solid var(--cl-dark);
                    }

                    .detail,
                    .value {
                        padding-left: var(--sp-medium);
                        font-weight: var(--fw-normal);
                        padding-bottom: var(--sp-small);
                    }
                }
            }

            .meta-img-r {
                background-repeat: no-repeat;
                background-position: 0 100%;
            }
        }



        .job-listing-logo {
            margin-top: var(--sp-xxlarge);

            img {
                max-height: 150px;
                max-width: 290px;
            }
        }

        @media only screen and (max-width: 600px) {

            header {

                .entry-title,
                .tribe-events-single-event-title {
                    margin-bottom: var(--sp-xsmall);
                    margin-top: var(--sp-large)
                }

                .company,
                .edp-event-date-time,
                .edp-event-cost,
                .edp-event-location,
                .edp-event-on-demand,
                .wpbdp-year-inst-block {
                    font-size: var(--fs-title-small);
                    font-weight: var(--fw-semibold);
                    line-height: var(--lh-title-small);
                }

            }


            .meta-slice {

                margin: var(--sp-medium) 0;

                .job-listing-meta,
                .edp-thesis-meta,
                .event-listing-meta {


                    .meta-item {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;

                        .label,
                        .field-label {
                            width: 42%;
                            min-width: 0;
                        }

                        .detail {
                            width: 58%;
                        }
                    }
                }
            }

            .job-listing-logo {
                margin-top: var(--sp-large);

                img {
                    max-height: 100px;
                    max-width: 200px;
                }
            }

        }




    }

    article.type-job_listing,
    article.type-wpbdp_listing {

        .meta-slice {
            margin: var(--sp-xxlarge) 0;
        }
    }

    article.type-tribe_events {
        .meta-slice {
            margin: var(--sp-xxxlarge) 0 var(--sp-medium) 0;
        }
    }


    .wpjm-submit-block {
        margin: var(--sp-medium) 0;
    }

    .job-footer {
        .footnote-asa {
            text-align: center;
            margin: var(--sp-large) 0;

            i {
                color: var(--cl-medpurple)
            }
        }
    }
}

/* ==== Jobs only ==================================== */
.edp-jobs.single-job_listing {
    header {
        .company {
            color: var(--cl-jobs-primary);
        }

    }

    article {
        .meta-img-l {
            background-image: url(../../images/edpsy-swirls-14.svg);
        }

        .meta-img-r {
            background-image: url(../../images/edpsy-swirls-13.svg);
        }

        margin-bottom: 0;
    }
}

/* ==== Thesis only ==================================== */
.single-wpbdp_listing {
    article.type-wpbdp_listing {
        header {
            .name-inst-year {
                color: var(--cl-thesis-primary);

                .wpbdp-year-inst-block {
                    font-weight: var(--fw-light);
                }
            }

        }


        .meta-img-l {
            background-image: url(../../images/edpsy-swirls-23.svg);
        }

        .meta-img-r {
            background-image: url(../../images/edpsy-swirls-13.svg);
        }

        margin-bottom: var(--sp-xxlarge);

    }
}

/* ==== Events only ==================================== */

.single-tribe_events {

    /** TODO remove properly **/
    .tribe-events-ajax-loading {
        display: none;
    }

    header {

        .edp-event-date-time,
        .edp-event-cost,
        .edp-event-on-demand {
            color: var(--cl-purple);
        }

    }


    .meta-img-l {
        background-image: url(../../images/edpsy-swirls-17.svg);
    }

    .meta-img-r {
        background-image: url(../../images/edpsy-swirls-15.svg);
    }

}






@media only screen and (max-width: 600px) {

    .edp-jobs.single-job_listing,
    .single-tribe_events,
    .single-wpbdp_listing {

        article.type-job_listing,
        article.type-tribe_events,
        article.type-wpbdp_listing {


            header {

                .entry-title,
                .tribe-events-single-event-title {
                    margin-bottom: var(--sp-xsmall);
                    margin-top: var(--sp-large)
                }

                .company,
                .edp-event-date-time,
                .edp-event-cost,
                .edp-event-location,
                .edp-event-on-demand,
                .wpbdp-year-inst-block {
                    font-size: var(--fs-title-small);
                    font-weight: var(--fw-semibold);
                    line-height: var(--lh-title-small);
                }

            }


            .meta-slice {

                margin: var(--sp-medium) 0;

                .job-listing-meta,
                .edp-thesis-meta,
                .event-listing-meta {


                    .meta-item {
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;

                        .label,
                        .field-label {
                            width: 42%;
                            min-width: 0;
                        }

                        .detail {
                            width: 58%;
                        }
                    }
                }
            }

            .job-listing-logo {
                margin-top: var(--sp-large);

                img {
                    max-height: 100px;
                    max-width: 200px;
                }
            }

        }
    }
}