/* ==== Job ad page ==================================== */

.edp-jobs.single-job_listing {

    article.type-job_listing {
        header {

            display: grid;

            .entry-title {
                margin-bottom: var(--sp-small);
            }

            .company {
                font-size: var(--fs-title-medium);
                color: var(--cl-orange);
                font-weight: var(--fw-semibold);
            }

        }

        .meta-slice {
            margin: var(--sp-xxlarge) 0;

            .meta-img-l {
                background-image: url(../../images/edpsy-swirls-14.svg);
                background-repeat: no-repeat;
                background-position: 0 0;
            }

            .job-listing-meta,
            .wpbdp-metadata-block {

                margin: var(--sp-medium) 0;

                .meta-item,
                .wpbdp-field-display {
                    display: flex;
                    padding: 0 var(--sp-medium);

                    .label,
                    .field-label {
                        min-width: 150px;
                        text-align: right;
                        padding-right: var(--sp-medium);
                        border-right: 1px solid var(--cl-dark);
                    }

                    .detail,
                    .value {
                        padding-left: var(--sp-medium);
                        font-weight: var(--fw-normal);
                        padding-bottom: var(--sp-small);
                    }
                }
            }

            .meta-img-r {
                background-image: url(../../images/edpsy-swirls-13.svg);
                background-repeat: no-repeat;
                background-position: 0 100%;
            }
        }



        .job-listing-logo {
            grid-column: 8 / span 3;
            margin-top: var(--sp-xxlarge);

            img {
                max-height: 150px;
                max-width: 290px;
            }
        }
    }

    .wpjm-submit-block {
        margin: var(--sp-medium) 0;
    }

    .job-footer {
        .footnote-asa {
            text-align: center;
            margin: var(--sp-large) 0;

            i {
                color: var(--cl-lightpurple)
            }
        }
    }
}