@import url('variables.css');

.business-directory.wpbdp-view-main,
.business-directory.wpbdp-view-search {

    #container {
        background-color: var(--cl-lightblue);
        background-image: url(../../images/edpsy-swirls-28.svg);
        background-size: 400px;
        background-position: right -2px;
        background-repeat: no-repeat;

        /* search & sort box */


        .wpbdp-listing-excerpt {

            padding: 0;
            margin-bottom: var(--sp-medium);

            a {
                &:hover {

                    .excerpt-content {
                        opacity: var(--op-light);
                    }
                }

                .excerpt-content {
                    display: flex;


                    .listing-meta {
                        min-width: 300px;
                        margin-right: var(--sp-small);
                        background-color: var(--cl-light);
                        padding: var(--sp-medium);
                        font-size: var(--fs-body);
                        font-weight: var(--fw-semibold);
                        color: var(--cl-dark);

                        .wpbdp-field-value:not(:last-child) {
                            margin-bottom: var(--sp-small);
                        }
                    }

                    .listing-title {
                        background-color: var(--cl-light);
                        padding: var(--sp-medium);
                        flex-grow: 1;

                        h3 {
                            font-size: var(--fs-body);
                            font-weight: var(--fw-thin);
                            color: var(--cl-dark);
                        }
                    }
                }
            }
        }
    }


    /* Hide plugin crud */
    .listing-actions,
    .wpbdp-categories {
        display: none;
    }

    #content .entry-content h2.wpbdp-search-reset {
        margin-bottom: var(--sp-large);
    }
}

.business-directory.wpbdp-view-search h3 {
    color: var(--cl-light);
}


/* viewport-specific rules moved to parts/viewport.css */



/* ========= Single thesis ===== */

.business-directory.single-wpbdp_listing {
    article {

        margin-bottom: var(--sp-xxlarge);

        .edp-thesis-meta {
            p {
                margin-bottom: 0;
            }
        }

        .wpbdp-further-reading-block {
            margin-top: var(--sp-medium);

            .value p {
                display: flex;
                flex-direction: column;

                a {
                    width: fit-content;
                }
            }
        }
    }


    /* Hide plugin crud */
    .listing-actions,
    .wpbdp-categories {
        display: none;
    }
}