@font-face {
    font-family: "Geologica";
    src: url("../../fonts/geologica.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /* Colors */
    --cl-light: #FFFBF2;
    --cl-dark: #363033;
    --cl-dark-75: rgba(54, 48, 51, 0.75);
    --cl-dark-50: rgba(54, 48, 51, 0.5);
    --cl-link: #0072B9;
    --cl-orange: #DB633B;
    --cl-lightblue: #78A8CF;
    --cl-yellow: #E5C957;
    --cl-purple: #59408A;
    --op-light: 0.8;
    --op-strong: 0.6;

    /* Spacing */
    --sp-xxsmall: 3px;
    --sp-xsmall: 6px;
    --sp-small: 12px;
    --sp-medium: 24px;
    --sp-large: 36px;
    --sp-xlarge: 48px;
    --sp-xxlarge: 60px;
    --sp-xxxlarge: 72px;

    /* Layout variable */
    --lv-full-width: 1248px;
    --lv-listing-height: 140px;

    /* Typography */
    --ff: 'Geologica', sans-serif;
    /* Main menu - items, events list today button */
    --fs-body-small: 14px;
    /* thesis listing meta */
    --fs-body-medium: 16px;
    --fs-body: 18px;
    /* Jobs list - job title, event list - event title */
    --fs-title-small: 22px;
    /* Jobs list - job title, event list - event title */
    --fs-title-medium: 28px;
    /* Events list - month title */
    --fs-title-large: 35px;
    /* Jobs list H1 */
    --fs-display-large: 110px;
    /* Thesis directory list H1 */
    --fs-display-medium: 60px;
    /* Signup slice H2 */
    --fs-display-small: 45px;
    /* ===== */
    --lh-body-small: calc(var(--fs-body-small) * 1.15);
    --lh-body: calc(var(--fs-body) * 1.5);
    --lh-title-large: calc(var(--fs-title-large) * 1.15);
    --lh-display-large: calc(var(--fs-display-large) * 1.15);
    --lh-display-medium: calc(var(--fs-display-medium) * 1.15);
    --lh-display-small: calc(var(--fs-display-small) * 1.15);
    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;

    /* Breakpoints */
    --bp-small: 480px;
    --bp-medium: 768px;
    --bp-large: 1024px;
    --bp-xlarge: 1281px;

    /* Grid spans converted */
    /*    --gs-3: calc((3 * ((100vw - 144px - (11 * 24px)) / 12)) + (2 * 24px)); */
    --gs-3: calc(3 * ((100% / 10) - (2 * 24px)) + (3 * 24px));
    --gs-8: calc((8 * ((100vw - 144px - (11 * 24px)) / 12)) + (7 * 24px));
    --gs-10: calc((10 * ((100vw - 144px - (11 * 24px)) / 12)) + (9 * 24px));
    --gs-12: calc(((100vw - 144px - (11 * 24px))) + (11 * 24px));
}