@media screen and (max-width: 782px) {
    #signup-slice .signup-content {
        flex-wrap: wrap;


        .message {
            width: 100%;

            h2 {
                font-size: var(--fs-title-large);
            }
        }

        form {
            width: 100%;

        }

    }

}

@media screen and (max-width: 600px) {
    #signup-slice .signup-content {
        .message {
            padding-right: 0;

            h2 {
                font-size: var(--fs-title-medium);
                line-height: var(--lh-title-medium);
            }
        }
    }
}